.inline-block {
  display: inline-block;
}
.d-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .row {
    @extend .d-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  .col {
    padding: 0 15px;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-4{
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .no-gutters {
    margin-right: 0;
    margin-left: 0;
    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }
  .justify-content-between {
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .justify-content-center {
    -ms-flex-pack: center;
    justify-content: center;
  }
  .align-items-between {
    -ms-flex-pack: justify;
    align-items: space-between;
  }
  .align-items-center {
    -ms-flex-pack: center;
    align-items: center;
  }
  .align-self-center {
    align-self: center;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  .px-5 {
    padding: 0 5px;
  }
  .pr-0 {
    padding-right: 0;
  }
  .m-0 {
    margin: 0;
  }
  .w-100 {
    width: 100%;
  }
  .h-100 {
    height: 100%;
  }
  .textRight, .text-right {
    text-align: right;
  }
  .text-center {
    text-align: center;
  }
  .d-none {
    display: none;
  }
  .d-block {
    display: block;
  }
  .list-unstyled {
    padding: 0;
    list-style: none;
    margin-bottom: 0;
  }
  .bg-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 300px;
  }
 .position-relative {
  position: relative;
 }
 .font-weight-700 {
  font-weight: 700;
 }
 .font-weight-600 {
  font-weight: 600;
 }
 .text-top{
  vertical-align: text-top;
 }