@import "../scss/fonts.scss";
@import "../scss/colors.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter';
    color: $text-color;
    font-size: 17px;
    line-height: 35px;
    letter-spacing: -0.12px;
    font-weight: 300;
    background-color: $white;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

button {
    cursor: pointer;
}

svg,
img {
    max-width: 100%;
}

img {
    height: auto;
    width: auto;
}

.btn-styled-removed {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.container {
    max-width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
}

.middle-content {
    min-height: 400px;
    padding-top: 130px;
}

.link-text {

    a,
    button {
        line-height: 50px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 500;
        color: $text-color;
        position: relative;
        display: inline-block;

        &:after {
            content: "";
            width: 100%;
            height: 2px;
            background-color: #221f1f;
            border-radius: 44px;
            display: block;
            -webkit-transition: -webkit-transform .3s;
            transition: -webkit-transform .3s;
            -o-transition: transform .3s;
            transition: transform .3s;
            transform-origin: center;
            position: absolute;
            bottom: 13px;
            left: 0;
        }

        &:hover {
            &:after {
                -webkit-transform: scaleX(.8);
                -ms-transform: scaleX(.8);
                transform: scaleX(.8);
            }
        }
    }
}

textarea {
    resize: none;
}

iframe {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Times";
    font-weight: bold;
}

h2 {
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.20px;
}

.page-title {
    h1 {
        font-size: 50px;
        line-height: 60px;
        letter-spacing: -0.15px;
    }

    h2 {
        font-size: 17px;
        line-height: 50px;
        font-family: "Inter";
        font-weight: 500;
        text-transform: uppercase;
    }
}

.page-title2 {
    h1 {
        font-size: 70px;
        line-height: 1.21;
        letter-spacing: 0px;
        margin-bottom: 30px;
    }
}

.stretched-link {
    text-align: center;
    text-decoration: none;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.location-title {
    font-size: 17px;
    font-family: "Inter";
    letter-spacing: 0.12px;
    font-weight: 300;
    margin-bottom: 12px;
}

.section-full-image {
    img {
        display: block;
    }
}

.opacity-0 {
    opacity: 0 !important;
}

video,
iframe {
    max-width: 100%;
}

.btn-black-bg {
    min-height: 45px;
    min-width: 139px;
    font-size: 13px;
    line-height: 16px;
    color: $white;
    background-color: $black;
    font-weight: 700;
    border: 1px solid $black;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter";

    &:hover {
        background-color: transparent;
        color: $black;
    }
}

.error-message {
    color: $red2;
    font-size: 13px;
    line-height: 40px;
    font-weight: 400;
    display: none;
}
#errorMsgDiv {
    color: #F67A7A;
    font-size: 13px;
    line-height: 40px;
    font-weight: 400;
}
.grecaptcha-badge {
    bottom: 100px !important;
    z-index: 99;
}
.image-label {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba($color: $black, $alpha: 0.9);
    padding: 0 40px;
    width: auto;

    h6 {
        color: $white;
        margin: 0;
        font-weight: 300;
        font-size: 17px;
        line-height: 40px;
        font-family: "Inter";
    }

    @media (max-width:1023px) {
        h6 {
            font-size: 14px;
            line-height: 24px;
        }
    }

    @media (max-width:1023px) {
        width: 100%;
        text-align: center;
    }
}
// Responsive CSS start
@media (max-width:1600px) {
    body {
        font-size: 14px;
        line-height: 24px;
    }

    .location-title {
        font-size: 14px;
    }

    h2 {
        font-size: 47px;
        line-height: 52px;
    }

    .page-title {
        h1 {
            font-size: 47px;
            line-height: 52px;
        }

        h2 {
            font-size: 14px;
            line-height: 45px;
        }
    }
}

// 1600 end
@media (max-width:1440px) {
    h2 {
        font-size: 44px;
        line-height: 48px;
    }

    .page-title {
        h1 {
            font-size: 44px;
            line-height: 48px;
        }
    }
}

// 1440 end
@media (max-width:1300px) {
    h2 {
        font-size: 38px;
        line-height: 45px;
    }

    .page-title {
        h1 {
            font-size: 38px;
            line-height: 45px;
        }
    }
}

// 1300 end
@media (max-width:1199px) {
    h2 {
        font-size: 31px;
        line-height: 1.2;
    }

    .page-title {
        h1 {
            font-size: 31px;
            line-height: 1.2;
        }
    }
}

// 1199 end
@media (max-width:1023px) {
    .container {
        padding: 0 20px;
    }

    h2 {
        font-size: 25px;
    }

    .page-title {
        h1 {
            font-size: 25px;
        }
    }

    .middle-content {
        padding-top: 100px;
    }
}

// 1199 end
@media (max-width:767px) {
    .page-title2 {
        h1 {
            font-size: 45px;
            line-height: 60px;
        }
    }
}

// 767 end
@media (max-width:389px) {
    // h2 {
    //     font-size: 23px;
    // }
    .image-label { 
        padding: 0 12px;
    }
}

// 388 end