@mixin placeholder-text {
    &::-webkit-input-placeholder {
      @content;
    }
    &::-moz-placeholder {
      @content;
    }
    &::-o-placeholder {
      @content;
    }
    &::-ms-input-placeholder {
      @content;
    }
  }
  @mixin scrollbar {
    $scrollbar-1-thumb-width: 4px;
    $scrollbar-1-thumb-color: #DEDDDD;
    $scrollbar-1-track-color: transparent;
    
      // Chrome & Opera
      &::-webkit-scrollbar {
         width: $scrollbar-1-thumb-width;
       height: $scrollbar-1-thumb-width;
  
         &-track {
             background-clip: content-box;
             -webkit-border-radius: 10px;
             border-radius: 10px;
         }
  
         &-thumb {
             background-color: $scrollbar-1-thumb-color;
         
         &:hover {
           background-color: mix($scrollbar-1-thumb-color, #000, 90%);
         }
         }
       &-corner,
       &-track {
         background-color: $scrollbar-1-track-color;
       }
      }
  
      // Firefox
      scrollbar-width: thin;
      scrollbar-color: $scrollbar-1-thumb-color $scrollbar-1-track-color;
  }