@import "../classes.scss";
@import "../common.scss";
@import "../components/slider.scss";
@import "../components/form-elements.scss";
@import "../components/header.scss";
// @import "../components/footer.scss";
@import "../components/chapter-content.scss";
@import "../components/chapter-numbers.scss";
@import "../components/section-blog-expert-help.scss";
@import "../components/footer-dynamic.scss";

.page-about {
    header {
        background-color: transparent;
    }

    .middle-content {
        padding-top: 0;
    }
}

.header-sticky {
    header {
        background-color: $white;
    }
}

.section-intro-image {
    .image-label {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba($color: $black, $alpha: 0.9);
        padding: 0 40px;
        width: auto;

        h6 {
            color: $white;
            margin: 0;
            font-weight: 300;
            font-size: 17px;
            line-height: 40px;
            font-family: "Inter";
        }

        @media (max-width:1023px) {
            h6 {
                font-size: 14px;
                line-height: 24px;
            }
        }

        @media (max-width:1023px) {
            width: 100%;
            text-align: center;
        }
    }

    .col {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .page-title {
        max-width: 548px;
        margin: 0 auto;
    }

    .bg-image {
        min-height: 650px;
        position: relative;
    }

    .section-content-col {
        position: relative;
        padding: 20px 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .section-graphic-img {
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            width: 450px;
            z-index: -1;
            pointer-events: none;
        }

        .content {
            position: relative;

            &:before {
                content: "";
                width: 1px;
                height: 78px;
                background-color: $text-color;
                display: block;
                margin: 25px auto;
            }
        }

        h4 {
            font-size: 35px;
            line-height: 50px;
            font-weight: 400;
            font-family: "Inter";
            text-transform: uppercase;
            letter-spacing: 0;
        }
    }
}

.section-intro-content {
    padding: 215px 0 115px;
    position: relative;

    h2 {
        line-height: 1.13;
    }

    .section-title {
        max-width: 850px;
        margin: 0 auto 20px;
    }

    .row {
        .col+.col {
            .content {
                margin-right: 0;
                margin-left: auto;
            }
        }
    }

    .content {
        max-width: 580px;

        p {
            letter-spacing: -0.6px;
            line-height: 2.8;
        }
    }
}

.spinner-wrap {
    width: 245px;
    position: absolute;
    top: -125px;
    left: 50%;
    display: block;
    pointer-events: none;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
}

.section-welcome-text {
    padding: 95px 0;

    h3 {
        font-size: 40px;
        line-height: 48px;
        font-weight: 400;
        font-family: "Inter";
        text-transform: uppercase;
    }
}

.section-team-members {
    padding-bottom: 60px;

    .section-title {
        padding: 115px 15px;

        h2 {
            font-size: 70px;
            line-height: 1.15;
        }
    }

    .team-wrapper {
        padding: 0 115px;

        .col-team {
            max-width: 20%;
            flex: 0 0 20%;
            padding-bottom: 30px;
            position: relative;

            .team-image {
                min-height: inherit;
                padding-bottom: 100%;
                position: relative;

                &:hover {
                    .team-content {
                        position: absolute;
                        bottom: 0;
                        top: 0;
                        right: 0;
                        left: 0;
                        margin: auto;
                        height: calc(100% - 16px);
                        width: calc(100% - 16px);
                        visibility: visible;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }

        .col-team-no-image {
            .bg-image {
                height: 100%;
                width: 100%;
                min-height: inherit;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 30px;
            }

            .image {
                img {
                    display: block;
                }
            }
        }

        .team-content {
            visibility: hidden;
            display: none;
            transition: 0.6s all ease-out;
            padding: 5% 60px;
            overflow: hidden;
            text-align: center;
            background-color: rgba($color: #ffffff, $alpha: 0.86);
            height: calc(100% - 30px);
            width: calc(100% - 30px);

            h6 {
                font-size: 14px;
                line-height: 17px;
                font-family: "Inter";
                font-weight: 400;
                margin-bottom: 10px;
                text-transform: uppercase;
            }

            h3 {
                font-size: 36px;
                line-height: 41px;
                margin-bottom: 12px;
            }

            h4 {
                font-size: 14px;
                line-height: 17px;
                font-family: "Inter";
                font-weight: 700;
                margin-bottom: 10px;
            }
        }

        .active-member:not(.col-team-5, .col-team-6, .col-team-7, .col-team-8) {
            &:after {
                content: '';
                display: block;
                bottom: 0;
                height: 6px;
                background-color: $black;
                width: calc(100% - 30px);
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
            }
        }

        .active-member:not(.col-team-1, .col-team-2, .col-team-3, .col-team-4) {
            &:before {
                content: '';
                display: block;
                top: -36px;
                height: 6px;
                background-color: $black;
                width: calc(100% - 30px);
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
                z-index: 1;
            }
        }
    }

    .mobile-team-wrapper {
        display: none;
    }

    .team-clickable-content {
        margin: 0px 0 30px;
        padding: 100px;
        min-height: 510px;

        .content {
            max-width: 861px;
        }

        h6 {
            font-size: 17px;
            line-height: 1.15;
            font-weight: 300;
            font-family: "Inter";
            margin-bottom: 6px;
            text-transform: uppercase;
        }

        h3 {
            font-size: 70px;
            line-height: 1.15;
            margin-bottom: 30px;
        }

        h4 {
            font-size: 17px;
            line-height: 1.15;
            font-weight: 600;
            font-family: "Inter";
            margin-bottom: 30px;
        }
    }
}

.section-team-chapter {
    padding: 115px;

    h2 {
        margin-bottom: 30px;
        font-size: 70px;
        line-height: 1.14;
    }

    .col-img {
        max-width: 50.13%;
        flex: 0 0 50.13%;
        // min-height: 564px;
        padding-bottom: 33.4%;
    }

    .col-content {
        padding-left: 100px;
    }

    .content {
        max-width: 680px;
        margin: 0 auto;
    }

    p {
        line-height: 1.92;
    }
}

.section-project-managers {
    padding: 115px 0 0 115px;

    h2 {
        margin-bottom: 30px;
        font-size: 70px;
        line-height: 1.14;
    }

    .col-content {
        padding-right: 20px;
        padding-bottom: 20px;
    }

    .content {
        max-width: 680px;
        margin: 0 auto;
    }

    p {
        line-height: 1.92;
    }

    .col-img {
        max-width: 63.2%;
        flex: 0 0 63.2%;
        padding-bottom: 42.1%;
        margin-top: -30px;
    }
}

.section-about-partners {
    padding: 115px 0;

    .container {
        max-width: 930px;
    }

    .heading-section {
        max-width: 670px;
        margin: 0 auto;
    }

    h2 {
        font-size: 50px;
        line-height: 1.15;
        margin-bottom: 32px;
    }

    p {
        line-height: 40px;

        br {
            display: none;
        }
    }

    .partners-wrap {
        margin: 97px auto 35px;
        line-height: 0;
        max-width: 485px;

        .row {
            position: relative;
            align-items: center;

            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
                top: 50%;
                width: 0.5px;
                background-color: $black;
                height: 94px;
            }

            .col {
                max-width: 50%;
                flex: 0 0 50%;
            }
        }

        .col-left {
            padding-right: 101px;
            text-align: right;
        }

        .col-right {
            padding-left: 108px;
        }
    }
}

.section-home-reviews {
    padding: 30px 0;
}

.section-who-we-are {
    padding: 115px 115px 124px;

    * {
        color: $white;
    }

    h2 {
        line-height: 1.15;
        margin-bottom: 60px;
    }

    .content-wrap {
        max-width: 801px;
    }

    .col-content {
        max-width: 52.9%;
        flex: 0 0 52.9%;
    }

    .bg-image {
        position: relative;
        padding-bottom: 135.9%;
        height: 100%;
        max-width: 728px;
    }

    .image-label {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba($color: $black, $alpha: 0.9);
        padding: 0 40px;
        width: auto;

        h6 {
            color: $white;
            margin: 0;
            font-weight: 300;
            font-size: 17px;
            line-height: 40px;
            font-family: "Inter";
        }

        @media (max-width:1023px) {
            h6 {
                font-size: 14px;
                line-height: 24px;
            }
        }

        @media (max-width:1023px) {
            width: 100%;
            text-align: center;
        }
    }

    h3 {
        font-size: 20px;
        line-height: 24px;
        font-family: "Inter";
        margin-bottom: 6px;
    }

    p {
        line-height: 35px;
        font-weight: 400;

        +h3 {
            margin-top: 60px;
        }
    }
}

.section-values {
    padding: 115px 115px 97px;

    .row {
        margin: 0 -30px;

        .col {
            padding: 0 45px;
        }
    }

    .section-title {
        margin-bottom: 60px;

        h2 {
            line-height: 1.15;
        }
    }

    .content-item {
        display: flex;

        +.content-item {
            margin-top: 60px;
        }

        .image {
            max-width: 84px;
            flex: 0 0 84px;
        }

        .content {
            max-width: 525px;
        }
    }

    h4 {
        font-size: 20px;
        line-height: 24px;
        font-family: "Inter";
        font-weight: 600;
        margin-bottom: 6px;

        i {
            font-weight: 900;
        }
    }

    p {
        font-weight: 400;
        line-height: 35px;
    }
}

.section-client-experience {
    .desktop-hide {
        display: none;
    }

    .section-title {
        padding: 128.5px 115px;
    }

    h2 {
        font-size: 75px;
        line-height: 85px;
        letter-spacing: 0;
    }

    .col-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .image {
        padding-bottom: 57.2%;

        img {
            display: block;
        }
    }

    .content-wrap {
        padding: 139px 0 110px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 648px;
        margin: 0 auto;

        .content-item {
            max-width: 250px;
            flex: 0 0 250px;
            text-align: center;
            margin-bottom: 74px;

            &:last-child {
                margin: 0 auto;
            }
        }
    }

    h4 {
        font-size: 20px;
        line-height: 24px;
        font-family: "Inter";
        margin-bottom: 9px;
        margin-top: 13px;
    }

    p {
        line-height: 35px;
        font-weight: 400;
    }
}

.section-blog-expert-help .container {
    border-width: 2px;
}

.section-chapter-numbers {
    padding: 115px 0;

    .section-title {
        padding-bottom: 35px;

        h3 {
            line-height: 27px;
        }

        h2 {
            line-height: 1.15;
            margin-bottom: 30px;
        }
    }

    .counter-group {
        h4 {
            line-height: 1.15;
            letter-spacing: 0;
        }

        h5 {
            font-size: 17px;
            line-height: 20px;
            font-weight: 300;
        }
    }
}

.section-blog-expert-help {
    padding: 60px 0;
}

//  Responsive CSS start
@media (max-width:1660px) {
    .section-team-chapter {
        padding: 80px;

        h2 {
            font-size: 60px;
        }

        .col-content {
            padding-left: 80px;
        }
    }

    .section-project-managers {
        padding: 80px 0 0 80px;

        h2 {
            font-size: 60px;
        }
    }

    .section-team-members {
        padding-bottom: 30px;

        .section-title {
            padding: 80px 15px;

            h2 {
                font-size: 60px;
            }
        }

        .team-wrapper {
            padding: 0 80px;

            .team-content {
                padding: 20px;
            }
        }

        .team-clickable-content {
            padding: 70px;
            min-height: 440px;

            h3 {
                font-size: 60px;
            }
        }
    }

    .section-about-partners {
        padding: 80px 0;

        p {
            line-height: 24px;
        }

        .heading-section {
            max-width: 570px;
        }

        .partners-wrap {
            margin: 60px auto 20px;

            .col-left {
                padding-right: 90px;
            }

            .col-right {
                padding-left: 90px;
            }
        }
    }

    .section-who-we-are {
        padding: 80px;
    }

    .section-values {
        padding: 80px 80px 70px;
    }

    .section-client-experience {
        .section-title {
            padding: 80px;
        }

        h2 {
            font-size: 70px;
            line-height: 80px;
        }

        p {
            line-height: 24px;
        }

        .content-wrap {
            padding: 100px 0;
        }
    }
}

// 1660 end
@media (max-width:1440px) {
    .section-intro-image {
        .section-content-col {
            h4 {
                font-size: 32px;
                line-height: 1.2;
            }
        }
    }

    .section-welcome-text h3 {
        font-size: 35px;
        line-height: 1.1;
    }

    .section-team-members {
        .section-title {
            padding: 60px 15px;

            h2 {
                font-size: 50px;
            }
        }

        .team-wrapper {
            padding: 0 60px;

            .team-content h3 {
                font-size: 32px;
                line-height: 36px;
            }
        }

        .team-clickable-content {
            padding: 50px;
            min-height: 360px;

            h3 {
                font-size: 50px;
            }

            .content {
                max-width: 840px;

                p {
                    br {
                        display: none;
                    }
                }
            }
        }
    }

    .section-team-chapter {
        padding: 60px;

        h2 {
            font-size: 50px;
        }

        .col-content {
            padding-left: 60px;
        }
    }

    .section-project-managers {
        padding: 60px 0 0 60px;

        h2 {
            font-size: 50px;
        }
    }

    .section-who-we-are {
        padding: 60px;
    }

    .section-values {
        padding: 60px 45px;
    }

    .section-client-experience {
        .section-title {
            padding: 60px;
        }

        h2 {
            font-size: 65px;
            line-height: 75px;
        }

        .content-wrap {
            padding: 60px 20px;

            .content-item {
                max-width: 50%;
                flex: 0 0 50%;
                padding: 0 10px;
                margin-bottom: 55px;
            }
        }
    }
}

// 1440 end
@media (max-width:1199px) {
    .spinner-wrap {
        max-width: 180px;
        top: -90px;
    }

    .section-intro-content {
        padding: 175px 0 85px;
    }

    .section-welcome-text {
        padding: 75px;

        h3 {
            font-size: 30px;
        }
    }

    .section-team-members {
        .section-title {
            padding: 40px 15px;

            h2 {
                font-size: 40px;
            }
        }

        .team-wrapper {
            padding: 0 40px;

            .team-content {
                padding: 15px;

                h3 {
                    font-size: 27px;
                    margin-bottom: 10px;
                }

                h4 {
                    line-height: 1.3;
                    margin-bottom: 10px;
                }

                h6 {
                    line-height: 1;
                }

                .content {
                    font-size: 12px;
                }
            }

            .col-team-7 .bg-image {
                img {
                    max-width: 70%;
                    margin: 0 auto;
                }
            }
        }

        .team-clickable-content {
            padding: 40px;

            h3 {
                font-size: 40px;
            }
        }
    }

    .section-team-chapter {
        h2 {
            font-size: 40px;
        }

        .col-content {
            padding-left: 40px;
        }
    }

    .section-project-managers {
        h2 {
            font-size: 40px;
        }
    }

    .section-who-we-are {
        padding: 60px 40px;

        h2 {
            margin-bottom: 30px;
        }

        p+h3 {
            margin-top: 30px;
        }

        .image-label {
            padding: 0 20px;
        }
    }

    .section-values {
        padding: 60px 25px;
    }

    .section-client-experience {
        h2 {
            font-size: 60px;
            line-height: 70px;
        }

        .section-title {
            padding: 60px 20px;
        }

        .content-wrap {
            padding: 60px 20px;
        }
    }
}

// 1199 end
@media (min-width:1023px) and (max-width:1170px) {
    .section-team-members .team-wrapper {
        .team-content {
            padding: 10px;
            h3 {
                font-size: 18px;
                line-height: 22px;
            }
            h4 {
                font-size: 12px;
            }
        }
    }
}

@media (max-width:1023px) {
    .section-intro-image {
        padding: 100px 0 0;

        .bg-image {
            min-height: 600px;
        }

        .col {
            max-width: 100%;
            flex: 0 0 100%;
        }

        .section-image-content {
            order: 1;
        }

        .section-content-col {
            h4 {
                font-size: 28px;
            }

            .content:before {
                height: 40px;
            }
        }
    }

    .section-intro-content {
        padding: 140px 0 60px;
    }

    .section-welcome-text {
        padding: 60px 20px;

        h3 {
            font-size: 25px;
        }
    }

    .section-team-members {
        .section-title {
            padding: 60px 20px;
        }

        .team-image {
            .team-content {
                display: none !important;
            }
        }

        .team-content.desktop-hide {
            visibility: visible;
            display: block;
            transition: none;
            padding: 20px;
        }
    }

    .section-team-chapter {
        .col-img {
            min-height: 100%;
        }
    }

    .section-about-partners {
        padding: 60px 0;

        h2 {
            font-size: 40px;
        }

        .partners-wrap {
            margin-bottom: 0;
        }
    }

    .section-who-we-are {
        padding: 50px 0 0;

        .row {
            margin: 0;
        }

        .col {
            max-width: 100%;
            flex: 0 0 100%;
            padding: 0;
        }

        .content-wrap {
            padding: 0 30px 30px;
            max-width: 100%;
        }

        h2 {
            font-size: 70px;
            line-height: 80px;
        }

        h3,
        p {
            font-size: 14px;
            line-height: 24px;
        }

        .bg-image {
            padding-bottom: 53.6%;
            max-width: 100%;
        }
    }

    .section-values {
        padding: 60px 5px 120px;

        .row {
            margin: 0 -15px;

            .col {
                padding: 0 15px;
            }
        }

        .section-title {
            margin-bottom: 30px;
        }

        .content-item {
            flex-direction: column;
            text-align: center;

            .image {
                margin: 0 auto;
                flex: 0 0 auto;

                img {
                    max-width: 32px;
                }
            }

            h4 {
                font-size: 14px;
                line-height: 24px;
            }

            p {
                line-height: 24px;
            }
        }
    }

    .section-client-experience {
        .desktop-hide {
            display: block;
        }

        .mobile-hide {
            display: none;
        }

        .section-title {
            height: auto;
            padding: 0;
        }

        h2 {
            font-size: 25px;
            line-height: 30px;
        }

        .content-wrap {
            padding: 30px 20px;

            .content-item {
                margin-bottom: 32px;

                img {
                    max-width: 32px;
                }
            }
        }

        .col {
            max-width: 100%;
            flex: 0 0 100%;
        }

        .col-left {
            order: 1;
        }

        .col-right {
            order: 0;
            padding-top: 30px;
        }

        .image {
            height: auto;
            min-height: 320px;
            padding-bottom: 41%;
            background-position: top center;
        }

        h4 {
            font-size: 14px;
            line-height: 24px;
            margin-top: 0;
        }
    }

    .section-chapter-numbers {
        padding: 60px 0;

        .section-title {

            h3 {
                line-height: 17px;
            }

            h2 {
                margin-bottom: 12px;
            }
        }

        .counter-group {
            h4 {
                font-size: 70px;
            }
        }
    }
}

// 1023 end
@media (max-width:991px) {
    .section-project-managers {
        padding: 60px 0 0 20px;

        h2 {
            font-size: 25px;
            line-height: 30px;
            margin-bottom: 30px;
            letter-spacing: -0.15px;
        }

        .col-img {
            padding-bottom: 35%;
            margin-top: 0;
            background-size: 100% auto;
            max-width: 53.7%;
            flex: 0 0 53.7%;
            align-self: flex-end;
        }

        .col-content {
            padding-bottom: 60px;
        }
    }

    .section-team-chapter {
        padding: 60px 20px;

        h2 {
            font-size: 25px;
            line-height: 30px;
            letter-spacing: -0.15px;
        }

        .col-content {
            padding-left: 20px;
        }

        .col-img {
            padding-bottom: 57.15%;
        }
    }

    .section-team-members {
        .desktop-team-wrapper {
            display: none;
        }

        .mobile-team-wrapper {
            display: block;
            padding: 0 20px;

            .col-team {
                max-width: 50%;
                flex: 0 0 50%;
            }
        }

        .team-content-info {
            padding: 15px 0;

            h6 {
                font-size: 14px;
                line-height: 17px;
                font-weight: 400;
                margin-bottom: 5px;
                text-transform: uppercase;
                font-family: "Inter";
            }

            h3 {
                font-size: 24px;
                line-height: 28px;
                font-weight: 700;
                margin-bottom: 8px;
            }

            h4 {
                font-size: 14px;
                line-height: 17px;
                font-weight: 700;
                margin-bottom: 30px;
            }
        }
    }

    .section-about-partners {
        padding-bottom: 73px;

        h2 {
            font-size: 25px;
            line-height: 30px;
            letter-spacing: -0.15px;
            margin-bottom: 30px;
        }

        p {
            br {
                display: block;
            }
        }

        .heading-section {
            max-width: 345px;
        }

        .partners-wrap {
            margin-top: 40px;

            img {
                max-width: 100px;
            }

            .col-left {
                padding-right: 32px;
            }

            .col-right {
                padding-left: 32px;
            }
        }
    }
}

@media (max-width:820px) and (min-width:768px) {
    .section-project-managers .col-img {
        margin-bottom: -10px;
    }
}

@media (max-width:767px) {
    .section-intro-content {
        .content-wrap {
            .col {
                max-width: 100%;
                flex: 0 0 100%;
                padding-bottom: 20px;
            }
        }

        .row .col+.col .content {
            margin: 0;
        }

        .content {
            max-width: 100%;

            p {
                line-height: 24px;
            }
        }
    }

    .section-intro-image .bg-image {
        min-height: 400px;
    }

    .section-team-chapter {
        padding: 60px 0 0;

        .col {
            max-width: 100%;
            flex: 0 0 100%;
        }

        .col-img {
            order: 1;
            min-height: 290px;
        }

        .col-content {
            padding: 0 20px 30px;
        }
    }

    .section-project-managers {
        padding: 60px 0 0 0;

        .col {
            max-width: 100%;
            flex: 0 0 100%;
        }

        .col-content {
            padding: 0 20px 20px;
        }

        .col-img {
            margin-top: 0;
            padding-bottom: 63%;
            min-height: 290px;
        }
    }

    .section-team-members {
        padding-bottom: 0;

        .section-title {
            h2 {
                font-size: 25px;
                line-height: 30px;
                letter-spacing: -0.15px;
            }
        }

        .team-wrapper .col-team .team-image {
            min-height: 290px;
            padding-bottom: 74%;
        }
    }

    .section-who-we-are {
        .content-wrap {
            padding: 0 20px 30px;
        }

        h2 {
            font-size: 45px;
            line-height: 60px;
        }

        .bg-image {
            padding-bottom: 80%;
        }
    }

    .section-values {
        .section-title {
            margin-bottom: 30px;
        }

        .col {
            max-width: 100%;
            flex: 100%;
        }

        .content-item {
            .content {
                margin: 0 auto;
            }

            +.content-item {
                margin-top: 30px;
            }
        }
    }

    .section-client-experience {
        .content-wrap .content-item {
            max-width: 100%;
            flex: 0 0 100%;
            padding: 0;
        }

        .image {
            min-height: 158px;
            padding-bottom: 40%;
        }
    }

    .section-chapter-numbers {
        .section-title {
            h3 {
                font-size: 14px;
            }
        }

        .counter-group {
            h4 {
                font-size: 45px;
                line-height: 60px;
                margin-bottom: 7px;
            }
        }

        .row {
            .col {
                padding-bottom: 36px;
            }
        }
    }

    .section-values {
        padding-bottom: 60px;
    }
}

//767 end
@media (max-width:600px) {
    .section-team-members .team-wrapper {
        padding: 0;

        .row {
            margin: 0;
        }

        .col {
            padding: 0;
        }

        .col-team {
            max-width: 100%;
            flex: 0 0 100%;
            padding-bottom: 30px;

            .team-image {
                background-position: center top;
            }
        }

        .team-content-info {
            padding: 15px 20px;
        }
    }
}

// 600 end
@media (max-width:430px) {
    .section-project-managers .col-img {
        min-height: auto;
        padding-bottom: 62%;
    }
}