@import "../classes.scss";
@import "../common.scss";
@import "../components/header.scss";
// @import "../components/footer.scss";
@import "../components/footer-dynamic.scss";

.section-content-heading {
    padding: 180px 0 130px;
    .container {
        max-width: 900px;
    }
    h4,h5 {
        font-size: 17px;
        line-height: 50px;
        font-family: "Inter";
        font-weight: 500;
    }
    h5 {
        text-transform: uppercase;
    }
    .page-title {
        padding: 10px 0 25px;
    }
}
.section-main-content {
    padding: 70px 0;
    p {
        margin-bottom: 16px;
    }
    a {
        color: $text-color;
        text-decoration: underline;
    }
    ul,ol {
        padding-left: 30px;
        margin-bottom: 16px;
    }
}
.page-content {
    word-break: break-word;
    .middle-content {
        padding-top: 0;
    }
    header {
        background-color: transparent;
    }
}
.header-sticky {
    header {
        background-color: $white;
    }
}
// Responsive end
@media (max-width:1023px) {
    .section-content-heading {
        padding: 130px 0 80px;
    }
    .section-main-content {
        padding: 60px 0;
    }
}
// 1023 end