@import "../classes.scss";
@import "../common.scss";
// @import "../components/client-sucess.scss";
// @import "../components/project-fingertips.scss";
// @import "../components/accordion.scss";
@import "../components/header.scss";
// @import "../components/footer.scss";
@import "../components/image-content.scss";
@import "../components/footer-dynamic.scss";


.page-how-it-works {
    background-color: #f9f4ed;

    header {
        background-color: transparent;
    }

    .section-client-success {
        padding: 50px 0;
    }

    .middle-content {
        padding-top: 0;
    }

    .footer-intro-text {
        background-color: $white;
    }
}

.header-sticky {
    header {
        background-color: $white;
    }
}

.section-accordion {
    .accordion {
        padding-bottom: 75px;
    }
}

.icons-list-group {
    position: relative;
    text-align: left;
    list-style: none;
    counter-reset: a;
    padding-top: 220px;
    padding-bottom: 100px;

    &:before {
        content: "";
        width: 1px;
        height: 102%;
        background-color: $black;
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    li {
        display: flex;
        counter-increment: a;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 44;

        +li {
            margin-top: 60px;
        }

        &:after {
            content: url('../../images/how-it-img/process-graphic.svg');
            display: block;
            width: 45%;
            position: absolute;
            top: -80%;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
        }

        &:nth-child(2n):before {
            content: url('../../images/how-it-img/process-graphic-dark.svg');
            display: block;
            width: 45%;
            position: absolute;
            top: -80%;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            z-index: -1;
        }

        &:nth-child(2n):after {
            top: 50%;
        }

        &:nth-child(2n) .list-heading,
        &:nth-child(2n) .list-heading h3 {
            flex-direction: row-reverse;
        }

        &:nth-child(2n) {
            flex-direction: row-reverse;

            .list-image {
                margin-right: 0;
                margin-left: 45px;
            }

            .list-heading {
                text-align: right;
            }

            .list-content {
                p {
                    margin: 0 0 0 auto;
                    text-align: right;
                }
            }
        }

        &:last-child {
            &:after {
                display: none;
            }
        }
    }

    .list-heading {
        width: 49%;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 4;

        &:before {
            content: counter(a);
            margin-bottom: 0;
            font-size: 50px;
            font-weight: 300;
        }

        h3 {
            font-size: 23px;
            line-height: 1;
            text-transform: uppercase;
            font-weight: 400;
            display: flex;
            font-family: "Inter";
            align-items: center;

            &:before {
                content: "";
                margin: 0 15px;
                width: 110px;
                height: 1px;
                background-color: $black;
                display: block;
            }
        }
    }

    .list-image {
        width: 205px;
        min-width: 205px;
        height: 205px;
        border-radius: 50%;
        order: -1;
        margin-right: 51px;
    }

    .list-content {
        width: 45.7%;
        line-height: 1.8;
        font-weight: 300;
        position: relative;
        z-index: 44;

        p {
            max-width: 400px;
        }
    }
}

.image-fit {
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: 50%;
}

.image-fit img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.page-title {
    max-width: 860px;
    margin: 0 auto 95px;
}

.section-images {
    padding: 140px 0 0;
}

.section-phases {
    padding: 115px;

    h5 {
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
        font-family: "Inter";
        margin-bottom: 24px;
    }

    .heading-content {
        max-width: 560px;
        margin-bottom: 60px;
    }

    h2 {
        line-height: 1.17;
        margin-bottom: 60px;
    }

    .phase-item {
        +.phase-item {
            margin-top: 60px;
        }
        .tablet-icons {
            display: none;
        }
    }

    .image-label {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba($color: $black, $alpha: 0.9);
        padding: 0 40px;
        width: auto;

        h6 {
            color: $white;
            margin: 0;
            font-weight: 300;
            font-size: 17px;
            line-height: 40px;
            font-family: "Inter";
        }

        @media (max-width:1023px) {
            h6 {
                font-size: 14px;
                line-height: 24px;
            }
        }

        @media (max-width:767px) {
            width: 100%;
            text-align: center;
        }
    }

    .content-wrap {
        max-width: 840px;
    }

    .col-img {
        padding: 0 115px;
    }

    .bg-image {
        max-width: 637px;
        margin: 0 auto;
        padding-bottom: 68.5%;
        position: relative;
    }
}

.section-phases-1 {
    .bg-image {
        padding-bottom: 105%;
        margin: 0 0 0 auto;
    }
}

.section-phases-3 .bg-image {
    padding-bottom: 87.58%;
    margin: 0 0 0 auto;
}

.section-image-content-how-it-works {
    .btn-wrap {
        margin-top: 30px;

        a {
            font-size: 19px;
            min-width: 183px;
            min-height: 67px;
        }
    }

    .content {
        padding: 201px 15px 38px;
    }
}

.section-client-experience {
    .desktop-hide {
        display: none;
    }

    h2 {
        letter-spacing: 0;
        line-height: 1.17;
        margin-bottom: 58px;
    }

    .image {
        width: 100%;
        min-height: 290px;
    }

    .col-left {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .btn-wrap {
        margin-top: 60px;

        .btn-black-bg {
            min-width: 183px;
            min-height: 67px;
            font-size: 19px;
            line-height: 23px;
        }
    }

    .left-content-wrap {
        padding: 115px 115px 60px;

        p {
            margin-bottom: 35px;
        }
    }

    .content-wrap {
        padding: 127px 0 144px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 648px;
        margin: 0 auto;

        .content-item {
            max-width: 250px;
            flex: 0 0 250px;
            text-align: center;
            margin-bottom: 72px;

            &:last-child {
                margin: 0 auto;
            }
        }
    }

    h4 {
        font-size: 20px;
        line-height: 24px;
        font-family: "Inter";
        margin-bottom: 9px;
        margin-top: 13px;
    }

    p {
        font-weight: 400;
    }
}

.section-celebrate {
    .content-wrap {
        padding: 115px;
    }

    h2 {
        line-height: 1.21;
        margin: 14px 0 24px;
    }

    .bg-image {
        padding-bottom: 28.13%;
    }
}

.section-phases-wrap {
    .section-phases {
        &:nth-child(even) {
            .col-content {
                padding-left: 20px;
            }
        }

        &:nth-child(odd) {
            .col-content {
                padding-right: 20px;
            }
        }
    }
}

.bg-image-tablet,
.bg-image-mobile {
    display: none;
}

// Responsive CSS Start
@media (max-width:1600px) {
    .section-phases {
        padding: 80px;
    }

    .section-celebrate .content-wrap {
        padding: 80px;
    }

    .section-client-experience {
        .left-content-wrap {
            padding: 80px;
        }

        .content-wrap {
            padding: 100px 0 120px;
        }
    }

}

@media (max-width:1440px) {
    .page-title {
        max-width: 760px;
    }

    .icons-list-group {
        .list-heading {
            &::before {
                font-size: 45px;
            }

            h3 {
                font-size: 20px;
            }
        }

        .list-image {
            width: 180px;
            min-width: 180px;
            height: 180px;
        }
    }

    .section-images {
        padding: 100px 0 0;
    }

    .section-phases {
        padding: 60px;

        .heading-content,
        h2 {
            margin-bottom: 40px;
        }

        .phase-item+.phase-item {
            margin-top: 40px;
        }

        .image-label {
            padding: 0 20px;
        }
    }

    .section-celebrate .content-wrap {
        padding: 60px;
    }

    .section-client-experience {
        .left-content-wrap {
            padding: 60px;
        }

        h2 {
            margin-bottom: 40px;
        }
    }
}

// 1440 end
@media (max-width:1199px) {
    .container {
        padding: 0 30px;
    }

    .icons-list-group {
        .list-heading {
            &::before {
                font-size: 40px;
            }

            h3 {
                font-size: 17px;
            }
        }

        .list-image {
            width: 160px;
            min-width: 160px;
            height: 160px;
        }
    }

    .section-images {
        padding: 70px 0 0;
    }
}

// 1199 end
@media (max-width:1023px) {
    .icons-list-group {
        padding: 0;

        &::before {
            display: none;
        }

        .list-image {
            margin-right: 20px;
        }

        li {
            display: block;

            +li {
                margin-top: 30px;
            }

            &:after {
                top: 5%;
                -webkit-transform: unset;
                -ms-transform: unset;
                transform: unset;
                left: auto;
                right: 0;
            }

            &:nth-child(2n):before {
                top: 3%;
                -webkit-transform: unset;
                -ms-transform: unset;
                transform: unset;
                left: 0;
            }

            &:nth-child(2n):after {
                display: none;
            }

            &:nth-child(2n) .list-content {
                width: 100%;
                text-align: right;
            }
        }

        .list-heading {
            width: 100%;
            margin-bottom: 20px;

            &:before {
                font-size: 25px;
            }

            h3 {
                max-width: 210px;

                &::before {
                    width: 25px;
                }
            }
        }

        .list-content {
            width: 100%;
        }
    }

    .page-title {
        margin-bottom: 40px;
    }

    .section-images {
        padding-bottom: 40px;
    }

    .section-accordion .accordion {
        padding-bottom: 40px;
    }

    .section-image-content-how-it-works {
        .col {
            max-width: 100%;
            flex: 0 0 100%;
            order: 1;
        }

        .col-img-content {
            order: 0;
        }

        .btn-wrap a {
            min-width: 139px;
            min-height: 45px;
            font-size: 13px;
            line-height: 16px;
        }

        .content {
            max-width: 533px;
            padding-top: 157px;
            padding-bottom: 30px;

            p {
                max-width: 483px;
                margin: 0 auto;
            }
        }

        .col-img {
            padding-bottom: 64.72%;
        }
    }

    .section-phases-wrap {
        padding: 30px 0 0;
    }

    .bg-image-desktop,
    .bg-image-mobile {
        display: none;
    }

    .bg-image-tablet {
        display: block;
    }

    .section-phases {
        padding: 0;

        &:nth-child(even) {
            .col-content {
                padding: 60px 20px 30px;
                order: 0;
            }

            .col-image {
                order: 1;
            }
        }

        &:nth-child(odd) {
            .col-content {
                padding: 30px 20px;
            }
        }

        .col {
            max-width: 100%;
            flex: 0 0 100%;
        }

        .content-wrap {
            max-width: 460px;
            margin: 0 auto;
            text-align: center;
        }

        h2 {
            margin-bottom: 30px;
            font-size: 40px;
            line-height: 57px;
        }

        h5 {
            font-size: 17px;
        }

        .heading-content {
            +h5 {
                font-size: 14px;
                margin-bottom: 5px;
            }
        }

        .phase-item {
            +.phase-item {
                margin-top: 30px;
            }

            p {
                +p {
                    margin-top: 10px;
                }
            }
            .desktop-icons {
                display: none;
            }
            .tablet-icons {
                display: block;
            }
        }

        .bg-image {
            max-width: 100%;
            padding-bottom: 53.7%;
        }
    }
    .section-phases-3 .bg-image-mobile {
        display: block;
    }
    .section-celebrate {
        padding: 34px 0 30px 20px;

        .image-label {
            h6 {
                max-width: 168px;
                margin: 0 auto;
            }
        }

        .bg-image {
            max-width: 43.9%;
            padding-bottom: 60.4%;
        }

        .bg-image-desktop {
            display: block;
        }

        .content-wrap {
            padding: 60px 40px 94px 60px;
        }

        h2 {
            margin: 20px 0 30px;
        }
    }

    .section-client-experience {
        .col {
            max-width: 100%;
            flex: 0 0 100%;
            flex-direction: column;
        }

        .left-content-wrap {
            text-align: center;
            padding: 60px 30px 0;
        }

        h2 {
            margin-bottom: 30px;
        }

        .content {
            max-width: 440px;
            margin: 0 auto;
        }
    }

    .section-client-experience {
        .content-wrap {
            padding: 0;

            .content-item {
                max-width: 50%;
                flex: 0 0 50%;
                margin-bottom: 30px;

                img {
                    max-width: 32px;
                }
            }
        }

        .col-right {
            background-color: $pearl-drop2;

            .image-label {
                width: auto;
                text-align: left;
            }

            .bg-image {
                min-height: 343px;
            }
        }

        h4 {
            font-size: 14px;
            line-height: 24px;
            margin: 5px 0 8px;
        }

        p {
            font-weight: 300;
        }

        .tablet-button-content {
            max-width: 648px;
            margin: 0 auto;
            padding: 30px 0 54px;
            text-align: center;

            p {
                max-width: 440px;
                margin: 0 auto;
            }

            .btn-wrap {
                margin-top: 30px;

                .btn-black-bg {
                    min-width: 139px;
                    min-height: 45px;
                    font-size: 13px;
                    line-height: 16px;
                }
            }
        }
    }
}

// 1023 end
@media (max-width:767px) {
    .icons-list-group {
        .list-image {
            width: 90px;
            min-width: 90px;
            height: 90px;
        }
    }

    .page-how-it-works .middle-content {
        padding-top: 84px;
    }

    .section-image-content-how-it-works {
        .content {
            margin: 0 auto;
            padding: 30px 23px;

            h1 {
                br {
                    display: none;
                }
            }
        }

        .col-img {
            padding-bottom: 61.6%;
        }

        .btn-wrap {
            margin-bottom: 0;
        }
    }

    .section-phases-wrap {
        padding: 0;

        .heading-content {
            padding: 0 35px;
            margin-bottom: 30px;
        }

        .section-phases-1 {

            .bg-image-desktop,
            .bg-image-tablet {
                display: none;
            }

            .bg-image-mobile {
                display: block;
            }
        }

        .bg-image {
            min-height: 277px;
        }

        .section-phases-3 {
            .bg-image {
                min-height: 412px;
            }
            .bg-image-desktop {
                display: block;
            }
            .bg-image-mobile {
                display: none;
            }
        }

        .section-phases:nth-child(2n) .col-content {
            padding-top: 30px;
        }
    }

    .section-celebrate {
        padding: 0;

        .col {
            max-width: 100%;
            flex: 0 0 100%;
            order: 1;
        }

        .col-content {
            order: 0;
            padding: 0;
        }

        .content-wrap {
            padding: 30px 20px 25px;
            text-align: center;
        }

        .bg-image {
            min-height: 277px;
        }

        .bg-image-desktop {
            display: none;
        }

        .bg-image-mobile {
            display: block;
        }
    }

    .section-client-experience {
        .left-content-wrap {
            padding: 30px 20px 0;
        }

        .content-wrap .content-item {
            max-width: 100%;
            flex: 0 0 100%;
            margin-bottom: 32px;
        }

        .tablet-button-content {
            padding: 30px 45px;
        }

        .col-right .bg-image {
            min-height: 174px;

            .image-label {
                width: 100%;
                text-align: center;
            }
        }
    }
}

// 767 end