@import "../classes.scss";
@import "../common.scss";
@import "../components/animations.scss";
@import "../components/slider.scss";
@import "../components/header.scss";
// @import "../components/footer.scss";
@import "../components/chapter-numbers.scss";
@import "../components/review-slider.scss";
@import "../components/accordion.scss";
@import "../components/chapter-content.scss";
@import "../components/image-content.scss";
@import "../components/form-elements.scss";
@import "../components/home-project-fingertips.scss";
@import "../components/section-home-contact-forms.scss";
@import "../components/home-new-projects-slider.scss";
@import "../components/section-client-slider";
@import "../components/modals.scss";
@import "../components/plan-design-build-home.scss";
@import "../components/contact-form.scss";
@import "../components/modal.scss";
@import "../components/footer-dynamic.scss";

img {
  height: auto;
  width: auto;
}

.position-mobile-div {
  position: absolute;
  z-index: 9999;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: none;
}

.custom-swiper-body {
  .position-mobile-div {
    display: block;
  }
}

.section-intro-image {
  .row {
    min-height: calc(100vh - 111px);
  }

  .col {
    max-width: 50%;
    flex: 0 0 50%;
  }

  .section-image-content {
    min-height: 100vh;
  }

  .section-content-col {
    position: relative;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .section-graphic-img {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 450px;
      z-index: -1;
      pointer-events: none;
    }

    .content {
      position: relative;

      &:before {
        content: "";
        width: 1px;
        height: 109px;
        background-color: $text-color;
        display: block;
        margin: 30px auto;
      }

      &:after {
        content: "";
        width: 1px;
        height: 109px;
        background-color: $text-color;
        display: block;
        margin: 30px auto;
      }
    }

    h1 {
      font-size: 70px;
      line-height: 102px;
      font-family: "Times";
      font-weight: bold;
    }

    p {
      font-size: 25px;
      line-height: 40px;
      letter-spacing: -0.9px;
    }

    .contact-link {
      a {
        font-size: 17px;
        line-height: 50px;
        font-weight: 500;
        color: $text-color;
      }
    }
  }
}

.section-start {
  padding: 106px 0;

  .container {
    max-width: 670px;

    h2 {
      margin-bottom: 60px;
    }
  }
}

.section-three-col-img-content {
  padding: 115px 0 130px;

  .container {
    max-width: 1280px;
  }

  img {
    max-width: 175px;
    max-height: 175px;
  }

  p {
    letter-spacing: -0.7px;
  }

  h3 {
    font-size: 20px;
    line-height: 1;
    font-weight: 500;
    letter-spacing: -0.11px;
    margin: 55px 0 45px;
    text-transform: uppercase;
    font-family: "Inter";
  }
}

.section-accordion {
  .accordion {
    padding-bottom: 75px;
  }
}

.page-home {
  header {
    background-color: transparent;
    top: 40px;
    transition: top 0.6s ease-in-out, background-color 0.6s ease-in-out !important;
  }

  .middle-content {
    padding-top: 0;
  }

  .section-content-col {
    padding-top: 141px;
  }
}

.header-sticky {
  .announcement-bar {
    opacity: 0;
  }

  header {
    top: 0;
    background-color: $white;
  }
}

.new-section-title {
  h2 {
    font-size: 75px;
    line-height: 1.14;
    font-family: "Times";
    font-weight: bold;
    letter-spacing: 0;
  }
}

.section-new-intro-image {
  position: relative;
  letter-spacing: 0;

  .desktop-hide {
    display: none;
  }

  .row {
    min-height: calc(100vh);
  }

  .col {
    max-width: 50%;
    flex: 0 0 50%;
  }

  .section-image-content {
    min-height: 100vh;
  }

  .section-content {
    max-width: 592px;
    margin: 0 auto;
    padding-top: 60px;
  }

  .content {
    max-width: 507px;
    margin: 43px auto 67px;
  }

  .section-content-col {
    position: relative;
    padding: 100px 30px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .section-graphic-img {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 434px;
      z-index: -1;
      pointer-events: none;
    }

    .content {
      position: relative;
    }

    h1 {
      font-size: 75px;
      line-height: 1.14;
      font-family: "Times";
      font-weight: bold;
    }

    p {
      font-size: 17px;
      line-height: 40px;
    }
  }

  .video-box-wrap {
    padding: 168px 130px 79px 130px;
    height: 100%;

    /* Hide default video controls */
    #video-player::-webkit-media-controls,
    #video-player::-webkit-media-controls-play-button,
    #video-player::-webkit-media-controls-panel,
    #video-player::-webkit-media-controls-timeline,
    #video-player::-webkit-media-controls-current-time-display,
    #video-player::-webkit-media-controls-time-remaining-display,
    #video-player::-webkit-media-controls-mute-button,
    #video-player::-webkit-media-controls-volume-slider {
      display: none !important;
    }

    .video-box {
      position: relative;
      padding-bottom: 95%;
      height: 100%;

      .vjs-poster,
      .vjs-control-bar {
        display: none !important;
      }

      video,
      .video-js {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        pointer-events: none;
      }

      #btn-play {
        position: absolute;
        bottom: 15px;
        right: 15px;
        z-index: 1;
        line-height: 0;

        .play-btn-icon {
          display: none;
        }

        &.video-played {
          .play-btn-icon {
            display: block;
          }

          .pause-btn-icon {
            display: none;
          }
        }
      }

      .vjs-paused .vjs-big-play-button {
        display: none;
      }

      .vjs-fullscreen-control,
      .vjs-picture-in-picture-control {
        display: none !important;
      }
    }
  }
}

.scroll-button-wrapper {
  line-height: 0;
  font-size: 0;

  .text-label-wrap {
    //transform: rotate(270deg);
    position: absolute;
    left: calc(50% - 34px);
    top: calc(100% - 200px);
  }

  .button-label {
    display: inline-block;
    font-size: 20px;
    line-height: 47px;
    font-weight: 700;
    letter-spacing: 0.1em;
  }

  .line {
    height: 134px;
    display: inline-block;
    width: 2px;
    background-color: $black;
    position: absolute;
    left: calc(50% - 2px);
    top: calc(100% - 86px);
    z-index: 1;
  }
}

.section-confident {
  a {
    color: $black;
  }

  .col {
    max-width: 50%;
    flex: 0 0 50%;
  }

  .section-content {
    padding: 127px 0 127px 115px;

    .content {
      max-width: 517px;
    }

    .new-section-title {
      margin-bottom: 84px;
    }

    p {
      font-size: 17px;
      line-height: 40px;
    }
  }

  .section-box-col {
    background-color: $pearl-drop2;
    padding: 127px 141px;

    .section-box {
      background-color: $white;
      padding: 95px 47px;
      overflow: hidden;
      position: relative;

      &:hover {
        .diamond-square {
          transform: translate(-50%, -50%) scale(1.2) rotate(45deg);
          // background-color: $black;
        }

        .diamond-square-content {
          * {
            // color: $white;
          }
        }
      }
    }

    .diamond-square {
      pointer-events: none;
      position: fixed;
      padding: 0.3rem;
      transform: rotate(45deg);
      background-color: #fff;
      mix-blend-mode: difference;
      transition: transform 0.3s ease;
    }

    .section-box-item:hover ~ .diamond-square {
      transform: translate(-50%, -50%) scale(15) rotate(45deg);
    }

    .content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    .section-box-item {
      max-width: calc(50% - 200px);
      flex: 0 0 calc(50% - 200px);
      text-align: center;
      transition: transform 0.1s ease-in-out;
      margin: 0 100px;
      padding: 0;

      &:hover {
        .diamond-square {
          background-color: $black;

          * {
            color: $white;
          }
        }
      }

      &:first-child,
      &:nth-child(2) {
        margin-bottom: 150px;
      }

      h4 {
        font-size: 17px;
        line-height: 40px;
        font-weight: 700;
        margin-bottom: 38px;
        font-family: "Inter";
      }

      h3 {
        font-size: 45px;
        line-height: 52px;
      }

      .diamond-square-content {
        // z-index: 1;
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #fff;
      }
    }
  }
}

.section-home-reviews {
  padding: 30px 0;
  min-height: calc(100vh - 114px);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.section-home-how-it-works-slider {
  padding: 165px 0 87px;
  letter-spacing: 0;

  .swiper-slide {
    height: 100% !important;
    // opacity: 0 !important;
    // overflow: hidden;
  }

  .swiper-slide-active {
    opacity: 1 !important;
  }

  .container {
    padding: 0;
    max-width: 100%;
  }

  .desktop-hide {
    display: none !important;
  }

  .new-section-title {
    max-width: 1125px;
    margin-bottom: 128px;
    color: $white;
  }

  .heading-content-wrap {
    padding: 0 115px;
    margin-bottom: 115px;
  }

  .heading-content {
    max-width: 1248px;

    p {
      font-size: 35px;
      line-height: 1.72;
      font-weight: 400;
      color: $white;
    }
  }

  .content {
    max-width: 635px;
  }

  h5,
  h3 {
    color: $white;
  }

  h5 {
    font-size: 20px;
    line-height: 40px;
    font-family: "Inter";
    font-weight: 400;
    margin-bottom: 24px;
  }

  h3 {
    font-size: 50px;
    line-height: 1.12;
  }

  .content-p {
    color: $white;
    margin: 32px 0 45px;
    font-size: 17px;
    line-height: 40px;
    min-height: 200px;
  }

  .col-col-right {
    max-width: 28.9%;
    flex: 0 0 28.9%;
    padding-right: 33px;
  }

  .home-how-it-works-slider-main {
    position: relative;
    min-height: calc(100vh - 115px);
  }

  .home-how-it-works-slider-wrap {
    height: 100%;
    position: sticky;
    top: 125px;

    .progress-bars-wrap {
      position: relative;
    }

    .progress-bars {
      display: flex;
      justify-content: flex-start;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: calc(100% - 230px);
      z-index: 9;
      margin: 0 auto;
      border-top: 2px solid $white;
      //cursor: pointer;
    }

    .progress-bar {
      max-width: calc(33.33% - 10px);
      flex: 0 0 calc(33.33% - 10px);
      height: 10px;
      width: 100%;
      background-color: #ffffff1a;
      margin: 20px 0 0;
      transition: background-color 0.6s ease-in-out;
      cursor: pointer;

      + .progress-bar {
        margin-left: 15px;
      }

      &.active-progress-bar {
        background-color: $white;
      }
    }
  }

  .custom-swiper-slider {
    .image-with-fade {
      opacity: 0;
      transition: opacity 0.7s ease;
    }

    .swiper-slide-active {
      .image-with-fade {
        opacity: 1;
      }
    }
  }

  .home-how-it-works-slider-swiper {
    padding-top: 58px;
    padding-right: 115px;
    padding-left: 115px;
    margin: 0 auto;
    min-height: calc(100vh - 115px);

    .slick-arrow {
      display: none !important;
    }

    .slick-dots {
      list-style-type: none;
      position: absolute;
      top: 0;
      left: -7.5px;
      width: calc(100% + 15px);
      display: flex;

      // margin: 0 -7.5px;
      li {
        max-width: 33.33%;
        flex: 0 0 33.33%;
        padding: 0 7.5px;
      }

      button {
        border: none;
        background-color: $white;
        outline: none;
        box-shadow: none;
        line-height: 0;
        font-size: 0px;
        overflow: hidden;
        text-indent: -99em;
        width: 100%;
        height: 10px;
      }
    }
  }

  .bg-image {
    padding-bottom: 118.2%;
    // height: 100%;
  }
}

.section-renovation-locations {
  padding: 115px 115px 55px;
  letter-spacing: 0;

  strong {
    font-weight: 700;
  }

  .content {
    max-width: 931px;
    margin: 0 auto 54px;

    p + p {
      margin-top: 10px;
    }
  }

  .col {
    max-width: 33.33%;
    flex: 0 0 33.33%;
    margin-bottom: 60px;
  }

  .section-title {
    margin-bottom: 60px;
  }

  .card {
    position: relative;
    display: flex;
    max-width: 522px;

    &:not(.card-map):hover {
      .card-image {
        &:after {
          background-color: rgba($color: $black, $alpha: 0.2);
        }
      }

      @media (max-width: 1196px) {
        .card-image {
          &:after {
            background-color: transparent;
          }
        }
      }

      .card-content {
        .arrow {
          border-color: $black;
          opacity: 1;
          animation: resetAnimation2 0.3s;

          @media (max-width: 1196px) {
            width: 58px;
            transform: none;
          }
        }

        .head,
        .head:after {
          border-color: $black;
          opacity: 1;
        }
      }
    }

    .arrow {
      width: 58px;
      height: 2px;
      opacity: 1;
      position: relative;
      background: $black;
      display: inline-block;
      vertical-align: middle;
      box-sizing: border-box;
      margin-bottom: 10px;
      transform: scaleY(1.1);

      .head,
      .head:after {
        height: 2px;
        border-radius: 1rem;
        width: 10px;
        position: absolute;
        right: -3px;
        top: 3px;
        transform: rotate(-45deg);
        background-color: $black;
      }

      .head:after {
        content: "";
        border-color: $black;
        right: -4px;
        top: -4px;
        transform: rotate(87deg);
      }
    }

    .card-click {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 2;
      border: none;
    }

    .card-image {
      max-width: 39.7%;
      flex: 0 0 39.7%;
      position: relative;
      height: 197px;
      padding: 0;

      &:after {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transition: background-color 0.15s ease-in-out;
      }

      img {
        height: 100%;
        display: block;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .card-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 20px;
      padding-top: 0;
    }

    .max-width-256 {
      max-width: 256px;
    }

    h5 {
      font-size: 25px;
      line-height: 1;
      letter-spacing: 0;
      margin-bottom: 30px;
    }

    p {
      font-size: 14px;
      line-height: 24px;
    }
  }

  .card-map .card-image {
    img {
      object-fit: contain;
    }
  }
}

// Responsive css start
@media (max-width: 1600px) {
  .section-intro-image {
    .section-content-col {
      h1 {
        font-size: 63px;
        line-height: 88px;
      }

      p {
        font-size: 22px;
        line-height: 35px;
      }
    }
  }

  .section-three-col-img-content {
    h3 {
      font-size: 20px;
      margin: 40px 0 30px;
    }
  }
}

// 1600 end
@media (max-width: 1599px) {
  .section-new-intro-image {
    .section-content-col h1 {
      font-size: 70px;
    }

    .video-box-wrap {
      padding: 168px 100px 80px 80px;
    }

    .content {
      margin: 30px auto 40px;

      p {
        line-height: 35px;
      }
    }
  }

  .new-section-title {
    h2 {
      font-size: 70px;
    }
  }

  .section-confident {
    .section-box-col {
      padding: 90px 100px;

      .section-box {
        padding: 88px 30px;
      }
    }

    .section-content {
      padding: 90px 0 90px 80px;
    }
  }

  .section-home-how-it-works-slider {
    padding: 135px 0px 70px;

    .new-section-title {
      margin-bottom: 100px;
    }

    .heading-content p {
      font-size: 35px;
    }

    .home-how-it-works-slider-wrap .progress-bars {
      width: calc(100% - 160px);
    }

    .heading-content-wrap {
      padding: 0 80px;
    }

    .home-how-it-works-slider-swiper {
      padding-left: 80px;
      padding-right: 80px;
    }
  }

  .section-renovation-locations {
    padding: 80px 80px 40px;
  }
}

// 1599 end
@media (max-width: 1440px) {
  .new-section-title h2 {
    font-size: 65px;
  }

  .section-new-intro-image {
    .video-box-wrap {
      padding: 168px 60px 60px;

      .video-box {
        padding-bottom: 80%;
      }
    }
  }

  .section-confident {
    .section-box-col {
      padding: 60px 70px;

      .section-box-item {
        margin: 0 60px;
        max-width: calc(50% - 120px);
        flex: 0 0 calc(50% - 120px);
      }
    }

    .section-content {
      padding: 60px 20px 60px 60px;
    }
  }

  .section-home-how-it-works-slider {
    padding: 60px 0px 50px;

    .new-section-title {
      margin-bottom: 50px;
    }

    .heading-content p {
      font-size: 35px;
    }

    .col-col-right {
      padding-right: 0;
    }

    .home-how-it-works-slider-wrap .progress-bars {
      width: calc(100% - 120px);
    }

    .heading-content-wrap {
      padding: 0 60px;
    }

    .home-how-it-works-slider-swiper {
      padding-left: 60px;
      padding-right: 60px;
    }
  }

  .section-renovation-locations {
    padding: 60px 60px 40px;
  }
}

// 1440 end
@media (max-width: 1300px) {
  .section-intro-image {
    .section-content-col {
      h1 {
        font-size: 55px;
        line-height: 80px;
      }

      p {
        font-size: 18px;
        line-height: 31px;
      }

      .content {
        &:before {
          height: 90px;
          margin: 25px auto;
        }

        &:after {
          height: 90px;
          margin: 25px auto;
        }
      }
    }
  }

  .section-three-col-img-content {
    img {
      max-width: 150px;
    }
  }

  .section-new-intro-image {
    .section-content-col {
      padding: 140px 20px 20px;

      h1 {
        font-size: 60px;
      }

      p {
        font-size: 17px;
        line-height: 35px;
      }

      .content {
        margin: 32px auto 32px;
      }
    }
  }

  .new-section-title {
    h2 {
      font-size: 60px;
    }
  }

  .section-confident {
    .section-content {
      padding: 60px 30px;

      p {
        font-size: 17px;
        line-height: 35px;
      }
    }

    .section-box-col {
      padding: 58px 59px;

      .section-box-item {
        &:first-child,
        &:nth-child(2) {
          margin-bottom: 110px;
        }
      }
    }
  }

  .section-home-how-it-works-slider {
    padding: 60px 0 82px;

    .home-how-it-works-slider-swiper {
      padding-left: 59px;
      padding-right: 59px;
    }

    .new-section-title {
      margin-bottom: 70px;
    }

    .heading-content p {
      font-size: 30px;
      line-height: 55px;
    }

    .content-p {
      font-size: 17px;
      line-height: 35px;
      margin-top: 0;
      margin-bottom: 42px;
    }

    .heading-content-wrap {
      margin-bottom: 65px;
    }

    .home-how-it-works-slider-wrap .progress-bars {
      width: calc(100% - 118px);
    }

    .heading-content-wrap {
      padding: 0 59px;
    }

    h5 {
      font-size: 17px;
      line-height: 40px;
      margin-bottom: 17px;
    }

    h3 {
      font-size: 40px;
      line-height: 46px;
      margin-bottom: 10px;
    }
  }

  .section-renovation-locations {
    padding: 40px 40px 10px;
  }
}

// 1300 end
@media (max-width: 1220px) {
  .section-new-intro-image .video-box-wrap .video-box {
    padding-bottom: 100%;
  }
}

// 1220 end
@media (max-width: 1199px) {
  .section-intro-image {
    .section-content-col {
      h1 {
        font-size: 48px;
        line-height: 1.4;
      }

      .content {
        &:before,
        &:after {
          height: 60px;
        }
      }
    }
  }

  .section-three-col-img-content {
    img {
      max-width: 130px;
      max-height: 130px;
    }
  }

  .section-new-intro-image .video-box-wrap {
    padding: 168px 40px 60px;
  }

  .section-confident .diamond-square {
    display: none !important;
  }

  .section-home-how-it-works-slider .home-how-it-works-slider-main {
    .home-how-it-works-slider-wrap {
      //  max-height: calc(100vh - 90px);
      //overflow: hidden;
    }
  }
}

// 1199 end
@media (max-width: 1023px) {
  .section-intro-image {
    padding: 10px 0 0;

    .col {
      max-width: 100%;
      flex: 0 0 100%;
    }

    .section-image-content {
      order: 1;
      min-height: 600px;
    }

    .section-content-col {
      padding-top: 270px;

      h1 {
        font-size: 42px;
        margin-bottom: 20px;
      }

      .section-graphic-img {
        width: 350px;
      }
    }
  }

  .section-start {
    padding: 60px 0;

    .container {
      h2 {
        margin-bottom: 20px;
      }
    }
  }

  .section-three-col-img-content {
    padding: 60px 0;
  }

  .section-accordion {
    .accordion {
      padding-bottom: 40px;
    }
  }

  .section-new-intro-image {
    .desktop-hide {
      display: block;
    }

    .mobile-hide {
      display: none;
    }

    .scroll-button-wrapper {
      .text-label-wrap {
        display: block;
        position: static;
        top: 0;
        left: 0;
      }

      .line {
        height: 52px;
        top: -32px;
        z-index: 1;
      }
    }

    .col {
      max-width: 100%;
      flex: 0 0 100%;
    }

    .section-content-col {
      order: 0;

      h1 {
        line-height: 80px;
      }

      .content {
        max-width: 400px;
      }

      .section-graphic-img {
        width: 100%;
        max-width: 392px;
        top: 155px;
        transform: translate(-50%, 0);

        img {
          object-fit: cover;
        }
      }
    }

    .col-video-box {
      order: 1;
      position: relative;
    }

    .video-box-wrap {
      padding: 37px;

      .video-box {
        padding-bottom: 73.5%;
        min-height: 300px;
      }
    }

    .section-content {
      max-width: 560px;
      padding-bottom: 60px;
    }
  }

  .section-confident {
    .col {
      max-width: 100%;
      flex: 0 0 100%;
    }

    .section-content {
      padding: 91px 59px 100px;

      .content {
        margin: 0 0 10px;
        max-width: 650px;

        .new-section-title {
          max-width: 503px;
        }
      }
    }
  }

  .section-home-how-it-works-slider {
    .heading-content-wrap {
      margin-bottom: 50px;
    }

    .home-how-it-works-slider-wrap {
      top: 100px;
    }

    .home-how-it-works-slider-swiper {
      .slider-item {
        .col-col-left,
        .col-col-right {
          max-width: 100%;
          flex: 0 0 100%;
        }

        .bg-image {
          padding-bottom: 35%;
          min-height: 260px;
          margin-bottom: 42px;
          height: auto;
        }
      }

      .mobile-hide {
        display: none !important;
      }

      .desktop-hide {
        display: block !important;
      }

      .content-p {
        min-height: inherit;
      }
    }
  }

  .section-renovation-locations {
    padding: 60px 20px 30px;

    .section-title {
      margin-bottom: 30px;
    }

    .content {
      margin-bottom: 30px;
    }

    .col {
      max-width: 50%;
      flex: 0 0 50%;
      margin-bottom: 30px;
    }

    .card .card-image {
      max-width: 25.3%;
      flex: 0 0 25.3%;
      // height: 185px;
    }

    .col-last {
      .card {
        flex-direction: column;

        .card-content {
          order: 0;
        }

        .card-image {
          max-width: 100%;
          flex: 0 0 100%;
          height: auto;
          order: 1;
          min-height: 80px;

          img {
            right: 0;
            object-fit: cover;
            min-height: 80px;
            min-width: 128px;
            margin: 0 auto;
          }
        }
      }
    }
  }

  .home-new-projects-slider {
    .row {
      width: 100%;
    }

    .col-12 {
      max-width: 100%;
      flex: 0 0 100%;
    }

    .heading-content-wrap {
      background-color: $pearl-drop2;
    }
  }
}

// 1023 end
@media (max-width: 991px) {
  .section-three-col-img-content {
    .row {
      justify-content: center;
    }

    .col {
      max-width: 50%;
      flex: 0 0 50%;
      padding-bottom: 30px;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

// 991 end
@media (max-width: 767px) {
  .section-intro-image {
    .section-image-content {
      min-height: auto;
      padding-bottom: 100%;
    }

    .section-content-col {
      padding-top: 210px;

      h1 {
        font-size: 33px;
        margin-bottom: 20px;
      }

      .section-graphic-img {
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
      }
    }
  }

  .section-new-intro-image {
    .section-content-col {
      h1 {
        font-size: 45px;
        line-height: 60px;
      }

      .content {
        margin: 28px auto 36px;
        max-width: 275px;
      }

      .section-graphic-img {
        max-width: 288px;
        top: 138px;
      }
    }

    .section-content-col p {
      font-size: 14px;
      line-height: 30px;
    }

    .section-content {
      padding-top: 10px;
      padding-bottom: 36px;
    }

    .scroll-button-wrapper .line {
      height: 38px;
      top: -28px;
    }

    .video-box-wrap {
      padding: 30px;

      .video-box {
        min-height: 329px;
      }
    }
  }

  .new-section-title h2 {
    font-size: 45px;
    line-height: 60px;
  }

  .section-confident {
    .section-content {
      padding: 58px 30px;

      .content {
        // max-width: 293px;
        margin-bottom: 0;

        .new-section-title {
          margin-bottom: 37px;
        }

        p {
          padding-right: 40px;
        }
      }

      p {
        font-size: 14px;
        line-height: 30px;
      }
    }

    .section-box-col {
      padding: 30px;

      .section-box {
        padding: 45px 30px;
      }

      .section-box-item {
        margin: 0 30px;
        max-width: calc(50% - 60px);
        flex: 0 0 calc(50% - 60px);

        &:first-child,
        &:nth-child(2) {
          margin-bottom: 72px;
        }

        h4 {
          font-size: 21px;
          margin-bottom: 37px;
        }

        h3 {
          font-size: 40px;
          line-height: 46px;
        }
      }
    }
  }

  .section-home-how-it-works-slider {
    padding: 44px 0 30px;

    .new-section-title {
      margin-bottom: 35px;
    }

    .heading-content {
      p {
        font-size: 25px;
        line-height: 50px;
      }
    }

    .heading-content-wrap {
      margin-bottom: 85px;
    }

    .home-how-it-works-slider-wrap {
      .progress-bars {
        width: calc(100% - 16px);
      }

      .progress-bar {
        + .progress-bar {
          margin-left: 8px;
        }
      }
    }

    .home-how-it-works-slider-swiper {
      padding-left: 30px;
      padding-right: 30px;
    }

    .home-how-it-works-slider-wrap .progress-bars {
      width: calc(100% - 60px);
    }

    .heading-content-wrap {
      padding: 0 30px;
    }

    h5 {
      font-size: 14px;
      line-height: 35px;
    }

    h3 {
      font-size: 35px;
      line-height: 40px;
      margin-bottom: 22px;
    }

    .content-p {
      font-size: 14px;
      line-height: 30px;
      margin-bottom: 25px;
    }

    .col-col-right {
      text-align: center;
    }
  }

  .section-home-reviews {
    padding: 0;
    min-height: inherit;
  }

  .section-renovation-locations {
    .col {
      max-width: 100%;
      flex: 0 0 100%;
    }

    .col-last .card .card-image {
      min-height: 129px;

      img {
        min-width: 207px;
        min-height: 129px;
      }
    }
  }
}

// 767 end
@media (max-width: 575px) {
  .section-three-col-img-content {
    .col {
      max-width: 100%;
      flex: 0 0 100%;
    }
  }
}

// 575 end
