@import "../classes.scss";
@import "../common.scss";
@import "../components/header.scss";
// @import "../components/footer.scss";
@import "../components/form-elements.scss";
@import "../components/slider.scss";
@import "../components/image-content.scss";
@import "../components/plan-design-build-home.scss";
@import "../components/home-new-projects-slider.scss";
@import "../components/modals.scss";
@import "../components/accordion.scss";
@import "../components/section-blog-expert-help.scss";
@import "../components/plan-design-build-method.scss";
@import "../components/section-what-invloved.scss";
@import "../components/section-values.scss";
@import "../components/footer-dynamic.scss";
@import "../components/get-inspired-slider.scss";

.desktop-hide {
  display: none;
}

.section-image-content-hero {
  padding-bottom: 110px;

  .content {
    max-width: 610px;
    position: relative;
  }

  .col-img {
    min-height: 679px;
  }

  .col-img-wrap {
    padding: 0 110px;
  }

  .page-title2 h1 {
    margin-bottom: 12px;
  }

  .btn-wrap {
    margin-top: 60px;

    a {
      min-width: 183px;
      min-height: 67px;
      font-size: 19px;
      line-height: 23px;
    }
  }
}

.section-what-invloved {
  padding-bottom: 38px;

  .heading-content {
    max-width: 1016px;
    margin-bottom: 28px;

    p {
      line-height: 30px;
    }

    h4 {
      margin: 28px 0 0;
    }
  }

  .content-wrap {
    p {
      line-height: 30px;
    }
  }
}

.westchester-home-section-what-involved {
  .heading-content {
    max-width: 1030px;
  }
}

.section-plan-design-build-method {
  .content-wrap h2 {
    font-size: 75px;
    line-height: 85px;
    margin-bottom: 24px;
  }

  .section-content-col {
    padding-top: 68px;
    padding-bottom: 148px;
  }
}

.section-plan-design-build {
  padding-bottom: 100px;

  .time {
    margin-top: 45px;

    h6 {
      line-height: 1;
    }
  }

  .card .card-content {
    padding-bottom: 65px;
  }
}

.section-accordion .section-title {
  padding-bottom: 27px;
  border: none;
}

.section-full-image {
  .bg-image {
    padding-bottom: 44.4%;
    min-height: 474px;
  }
}

.page-home-renovation-nyc-brownstone-townhouse {
  .section-what-invloved {
    .container-full {
      padding: 0 20px;
    }

    .heading-content {
      max-width: 1374px;

      .content {
        max-width: 993px;
        margin: 0 auto;
      }
    }
  }
}

// westchester-5-cards-view
.section-our-services-new {
  padding: 115px 117px 65px 117px;

  .col {
    margin-bottom: 60px;
  }

  .img-tablet,
  .img-mobile {
    display: none;
  }

  .section-title {
    margin-bottom: 60px;
  }

  .card-info {
    max-width: 249px;
  }

  .card {
    position: relative;
    display: flex;
    max-width: 522px;

    .card-image {
      max-width: 207px;
      flex: 0 0 207px;
      position: relative;

      .img-desktop {
        height: 100%;

        img {
          height: 100%;
          width: 100%;
          // position: absolute;
          top: 0;
          left: 0;
          display: block;
          object-fit: cover;
        }
      }
    }

    .card-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 20px;
    }

    h5 {
      font-size: 25px;
      line-height: 28px;
      margin-bottom: 30px;
    }

    p {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 12px;
    }
  }
}

.section-image-content-addition-today {
  padding-top: 114px;
  padding-bottom: 114px;

  .btn-wrap {
    margin-top: 107px;
  }

  .content {
    max-width: 690px;
  }

  h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0;
    margin-top: 30px;
  }

  .col-img-wrap {
    flex: 0 0 49.5%;
  }

  .col-img {
    min-height: 849px;
  }
}
.accordian-tag {
  color: #231f20;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.home-addition-contractors-in-westchester, .section-accordion-miami-condo {
  .pad-left-acc {
    padding-left: 20px;
  }

  .accordian-tag {
    color: #231f20;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  .section-our-services-new {
    .card {
      h5 {
        line-height: 1;
      }

      p {
        letter-spacing: 0;
        font-size: 17px;
      }
    }
  }

  .section-image-content-addition-today .content-wrap {
    max-width: 600px;

    @media (max-width: 767px) {
      margin: 0 auto;
    }

    h3 {
      font-family: "Inter";
      margin-top: 20px;
    }
  }
}

// Responsive css start
@media (max-width: 1660px) {
  .section-plan-design-build-method .content-wrap h2 {
    font-size: 70px;
    line-height: 80px;
  }

  .section-image-content-hero .col-img-wrap {
    padding: 0 80px;
  }

  .section-our-services-new {
    padding: 80px 58px;

    .card-info {
      max-width: 330px;
    }
  }
}

// 1660 end
@media (max-width: 1440px) {
  .section-image-content-hero {
    padding-bottom: 70px;

    .col-img-wrap {
      padding: 0 60px;
    }
  }

  .section-image-content-addition-today {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .section-plan-design-build-method {
    .section-content-col {
      padding-bottom: 120px;
    }
  }

  .section-our-services-new {
    padding: 50px 40px;

    .card .card-image {
      max-width: 40%;
      flex: 0 0 40%;
    }
  }
}

// 1440 end

@media (max-width: 1023px) {
  .desktop-hide {
    display: block;
  }

  .scroll-button-wrapper {
    line-height: 0;
    font-size: 0;

    .button-label {
      display: inline-block;
      font-size: 20px;
      line-height: 47px;
      font-weight: 700;
      letter-spacing: 0.1em;
    }

    .line {
      height: 52px;
      display: inline-block;
      width: 2px;
      background-color: $black;
      position: absolute;
      left: calc(50% - 2px);
      bottom: 24px;
      z-index: 1;
    }
  }

  .section-image-content-hero {
    padding-bottom: 37px;
    padding-top: 0;

    .row {
      padding: 0 37px;
    }

    .image-label {
      width: auto;

      h6 {
        font-size: 17px;
        line-height: 40px;
      }
    }

    .col-img-wrap {
      padding: 0px;
    }

    .page-title2 {
      h1 {
        line-height: 80px;
        margin-bottom: 30px;
      }

      p {
        max-width: 397px;
        margin: 0 auto;
      }
    }

    .btn-wrap {
      margin-top: 30px;
    }

    .col-img-wrap {
      order: 1;
    }

    .col-img {
      min-height: 510px;
    }

    .col {
      max-width: 100%;
      flex: 0 0 100%;
    }

    .content {
      padding-bottom: 97px;
      padding-top: 60px;
    }
  }

  .section-what-invloved {
    padding: 60px 40px 40px;

    .heading-content {
      margin: 0 auto 55px;
      text-align: left;

      h2 {
        line-height: 29px;
      }

      p {
        line-height: 30px;
      }

      h4 {
        display: none;
      }
    }

    .row {
      margin: 0 -19px;

      .col {
        padding: 0 19px;
      }
    }

    .col-tablet {
      display: block;

      h4 {
        font-size: 14px;
        line-height: 24px;
        font-family: "Inter";
        margin-top: 54px;
      }
    }

    .content-wrap {
      .col-item {
        max-width: 50%;
        flex: 0 0 50%;
      }

      h5 {
        font-size: 14px;
        line-height: 22px;
      }

      .content {
        max-width: 285px;
        margin-bottom: 28px;
      }
    }

    .title-content {
      img {
        max-width: 24px;
      }
    }
  }

  .home-new-projects-slider {
    .slide-item .row,
    .heading-content-wrap {
      background-color: $pearl-drop2;
    }
  }

  .section-full-image {
    .image-label {
      width: auto;
    }
  }

  .section-plan-design-build-method {
    .section-content-col {
      padding-bottom: 30px;
    }

    .content-wrap h2 {
      margin-bottom: 30px;
    }
  }

  .section-accordion {
    .container {
      padding: 0 34px;
    }

    .section-title {
      padding-bottom: 30px;
    }

    h2 {
      font-size: 50px;
      line-height: 58px;
    }

    button {
      line-height: 24px;
      padding-top: 28px;
      padding-bottom: 28px;
    }
  }

  .section-blog-expert-help {
    padding-top: 60px;
  }

  .section-plan-design-build {
    .card {
      h5 {
        font-size: 14px;
        line-height: 24px;
      }

      .card-content {
        padding-bottom: 40px;
      }
    }
  }

  .page-home-renovation-nyc-brownstone-townhouse {
    .section-image-content-hero .page-title2 p br {
      display: none;
    }

    .section-what-invloved .heading-content h4 {
      display: block;
      font-size: 14px;
      line-height: 30px;
      font-weight: 700;

      span {
        display: block;
      }
    }

    .section-plan-design-build-method .content-wrap h2 br {
      display: none;
    }

    .home-image-content-slider .content .content-p br {
      display: block;
    }
  }

  .section-our-services-new {
    padding: 60px 20px;

    h2 {
      &::after {
        content: "";
        border-color: red;
        display: block;
        border: 1px solid;
        margin: 0 48px;
        margin-top: 30px;
      }
    }

    .img-desktop,
    .img-mobile {
      display: none;
    }

    .img-tablet {
      display: block;
    }

    .section-title {
      margin-bottom: 30px;
    }

    .col {
      max-width: 100%;
      flex: 0 0 100%;
      margin-bottom: 0;

      + .col {
        margin-top: 60px;
      }
    }

    .card {
      max-width: 100%;

      .card-image {
        max-width: 46.5%;
        flex: 0 0 46.5%;
      }

      .card-content {
        .card-info {
          max-width: 437px;
        }
      }
    }
  }

  .section-image-content-addition-today {
    padding-bottom: 0;

    .row {
      padding: 30px 30px;
    }

    .btn-wrap {
      a {
        min-width: 139px;
        min-height: 45px;
      }
    }

    .image-label {
      width: 100%;
    }

    .content {
      margin: 0 auto;
      padding-left: 50px;
    }

    .col-img-wrap {
      order: 0;
    }

    .col {
      max-width: 50%;
      flex: 0 0 50%;
    }

    .col-img-content {
      h1 {
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        letter-spacing: -0.15px;
      }

      p {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0px;
        font-weight: 400;
      }

      h3 {
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0px;
      }
    }
  }

  .home-addition-contractors-in-westchester .section-our-services-new {
    .card {
      p {
        font-size: 14px;
      }

      h5 {
        margin-bottom: 12px;
      }
    }
  }
}

// 1023 px
@media (max-width: 767px) {
  .section-our-services-new {
    .img-mobile {
      img {
        width: 100%;
      }
    }

    h2 {
      &::after {
        display: none;
      }
    }

    .card h5 {
      margin-bottom: 12px;
    }
  }

  .section-what-invloved {
    padding: 30px 0px 30px;

    .row {
      margin: 0 -15px;

      .col {
        padding: 0 15px;
      }
    }

    .heading-content {
      margin: 0 auto 35px;
      text-align: left;

      h2 {
        line-height: 28px;
        max-width: 100%;
      }

      p {
        line-height: 35px;
      }
    }

    .col-tablet {
      margin-bottom: 30px;

      h4 {
        font-size: 14px;
        line-height: 24px;
        font-family: "Inter";
        margin-top: 0;

        br {
          display: none;
        }
      }
    }

    .content-wrap {
      .col-item {
        max-width: 100%;
        flex: 0 0 100%;
      }

      p {
        line-height: 24px;
      }

      .content {
        max-width: 100%;
        margin-bottom: 30px;
      }

      .title-content {
        display: flex;
        align-items: center;
        margin-bottom: 12px;

        .dash {
          display: none;
        }

        h5 {
          margin: 0 0 0 8px;
        }

        img {
          max-width: 24px;
          height: auto;
        }
      }
    }
  }

  .scroll-button-wrapper .line {
    height: 38px;
    bottom: 30px;
  }

  .section-image-content-hero {
    .page-title2 h1 {
      line-height: 60px;
      font-size: 45px;
    }

    .row {
      padding: 0 30px;
    }

    .content {
      padding: 30px 0 98px;
      margin: 0 auto;
    }

    .col-img {
      min-height: 329px;
    }

    .image-label {
      width: 100%;

      h6 {
        font-size: 14px;
      }
    }
  }

  .section-image-content-addition-today {
    .row {
      padding: 30px 30px 0;
    }

    h3 {
      margin-top: 20px;
    }

    .content {
      text-align: center;
      max-width: 670px;
      padding: 30px 0 30px;
    }

    .col-img-wrap {
      order: 1;

      .col-img {
        margin: 0 -30px;
        min-height: 290px;
        background-position: top center;
        padding-bottom: 80%;
      }
    }

    .col-img-content h1 {
      margin-bottom: 15px;
    }

    .col {
      max-width: 100%;
      flex: 0 0 100%;
    }
  }

  .section-full-image {
    .image-label {
      width: 100%;

      h6 {
        line-height: 40px;
      }
    }

    .bg-image {
      padding-bottom: 50%;
      min-height: 240px;
    }
  }

  .section-plan-design-build-method {
    padding: 0;

    .content-wrap h2 {
      font-size: 45px;
      line-height: 60px;
    }

    .section-content-col {
      padding: 30px 20px;
    }
  }

  .section-accordion {
    .container {
      padding: 0 20px;
    }

    .section-title {
      padding-bottom: 30px;
    }

    h2 {
      font-size: 45px;
      line-height: 60px;
    }

    button {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }

  .section-values {
    .section-title {
      max-width: 300px;
      margin: 0 auto 30px;

      h2 br {
        display: none;
      }
    }
  }

  .page-miami-apartment-renovation {
    .section-values {
      .section-title {
        max-width: 310px;
      }
    }
  }

  .page-home-renovation-nyc-brownstone-townhouse {
    .section-values {
      .section-title {
        max-width: 320px;
      }

      .content-item .content {
        max-width: 335px;
      }
    }

    .section-what-invloved .heading-content h4 span {
      display: none;
    }
  }

  .section-our-services-new {
    .img-tablet,
    .img-tablet {
      display: none;
    }

    .img-mobile {
      display: block;
    }
  }

  .section-our-services-new {
    padding: 60px 20px;

    .row {
      margin: 0;
    }

    .col {
      padding: 0;

      + .col {
        margin-bottom: 0;
        margin-top: 0;
      }
    }

    .card {
      flex-direction: column;

      .card-image {
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: 24px;
      }

      .card-content {
        padding: 0;
        text-align: left;
      }

      .card-info {
        max-width: 100%;
        margin-bottom: 24px;
      }
    }
  }
}

// 767 end
