@import "../classes.scss";
@import "../common.scss";
@import "../components/header.scss";
// @import "../components/footer.scss";
@import "../components/slider.scss";
@import "../components/chapter-content.scss";
@import "../components/category.scss";
@import "../components/image-content.scss";
@import "../components/form-elements.scss";
@import "../components/plan-design-build-home.scss";
@import "../components/home-project-fingertips.scss";
@import "../components/section-get-started-with-renovation-project.scss";
@import "../components/section-client-slider.scss";
@import "../components/modals.scss";
@import "../components/footer-dynamic.scss";
@import "../components/contact-form.scss";
@import "../components/modal.scss";

@keyframes resetAnimation {
  0% {
    width: 67px;
  }

  50% {
    width: 74px;
  }

  100% {
    width: 67px;
  }
}

@keyframes resetAnimation2 {
  0% {
    width: 58px;
  }

  50% {
    width: 65px;
  }

  100% {
    width: 58px;
  }
}

.page-projects {
  header {
    border-bottom: 0.5px solid $border-color;
  }
}

.page-new-jersey-location {
  header {
    border-color: transparent;
  }
}

.section-full-image {
  min-height: 820px;
}

.section-home-reviews {
  padding: 40px 0;
}

.section-project-info {
  padding: 90px 0;

  .container {
    max-width: 760px;
  }

  h1 {
    margin-bottom: 42px;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.2px;
    font-weight: 700;
  }

  p + p {
    margin-top: 30px;
  }
}

.section-single-heading {
  padding: 88px 0;
}

.section-two-full-img-layout {
  .bg-image {
    min-height: 60vh;
  }

  .col-full-size-img {
    min-height: 800px;
  }
}

.shortAddress {
  margin-top: -15px;
  font-size: 16px;
  padding-bottom: 20px;
}

.fullWidthPara {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.pearl-bg iframe {
  max-width: 100%;
}

.section-image-content {
  .page-title {
    h1 + p {
      margin-top: 30px;
    }
  }
}
// for the chapter in number continer

.section-chapter-numbers {
  padding: 115px 0;
  .container {
    max-width: 1280px;
  }
  .section-title {
    margin-bottom: 30px;
    h2 {
      font-weight: 700;
      font-size: 50px;
      line-height: 57px;
      letter-spacing: 0;
      margin-bottom: 30px;
    }
    h3 {
      font-size: 23px;
      font-weight: 400;
      text-transform: uppercase;
      font-family: "Inter";
      line-height: 28px;
      letter-spacing: 0;
    }
  }
  .counter-group {
    h4 {
      font-size: 100px;
      font-family: "Times";
      font-weight: 700;
      line-height: 115px;
      letter-spacing: 0;
    }
    h5 {
      font-family: "Inter";
      font-weight: 300;
      font-size: 17px;
      line-height: 24px;
      letter-spacing: 0;
    }
  }
}

.section-what-we-know {
  h2 {
    font-size: 70px;
    line-height: 1.15;
    margin-bottom: 30px;
  }

  .left-col {
    max-width: 38.16%;
    padding: 115px;
  }

  .right-col {
    padding: 115px 115px 54px;
  }

  .row-content {
    .col {
      max-width: 33.33%;
      flex: 0 0 33.33%;
      text-align: center;
    }

    .col-item {
      padding-bottom: 80px;

      h4 {
        font-size: 17px;
        line-height: 30px;
        margin-top: 5px;
        font-weight: 400;
        font-family: "Inter";
      }

      img {
        max-width: 60px;
        max-height: 60px;
      }
    }
  }
}

.section-timeline-matches {
  padding: 115px;

  h2 {
    font-size: 70px;
    line-height: 1.15;
    margin-bottom: 30px;
  }

  .content {
    max-width: 574px;
  }

  .link-text {
    margin-top: 30px;
  }

  .timeline-row {
    display: flex;
    padding-top: 79px;
    align-items: center;
  }

  .timeline-item {
    background-color: $pearl-drop2;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 1;
    padding: 20px;
  }

  .timeline-col {
    max-width: 25%;
    flex: 0 0 25%;
    position: relative;
    background-color: $pearl-drop3;

    h4 {
      font-size: 25px;
      line-height: 33px;
      font-weight: 700;
      font-family: "Inter";
    }

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border: 3px dashed $black;
      width: 100%;
    }

    &:before {
      content: "";
      position: absolute;
      height: 12px;
      width: 12px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 100%;
      background-color: $black;
      right: -1px;
      z-index: 1;
    }

    &:last-child {
      &:after,
      &:before {
        display: none;
      }
    }
  }

  .timeline-item1 {
    max-width: 195px;
    height: 195px;
  }

  .timeline-item2 {
    max-width: 225px;
    height: 225px;
  }

  .timeline-item3 {
    max-width: 270px;
    height: 270px;
  }

  .timeline-item4 {
    max-width: 290px;
    height: 290px;
    justify-content: flex-start;

    img {
      margin-bottom: 14px;
    }

    .mobile-image {
      display: none;
    }
  }
}

.section-contact-us {
  padding: 115px;

  .bg-image {
    padding-bottom: 50.2%;
    max-width: 43.25%;
    position: relative;
  }

  .image-label {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba($color: $black, $alpha: 0.9);
    padding: 0 40px;
    width: auto;

    @media (max-width: 1199px) {
      padding: 0 28px;
    }

    h6 {
      color: $white;
      margin: 0;
      font-weight: 300;
      font-size: 17px;
      line-height: 40px;
      font-family: "Inter";
    }

    @media (max-width: 1023px) {
      h6 {
        font-size: 14px;
        line-height: 24px;
      }
    }

    @media (max-width: 1023px) {
      width: 100%;
      text-align: center;
    }
  }

  .content {
    padding-left: 115px;

    h2 {
      font-size: 70px;
      line-height: 1.15;
      margin-bottom: 30px;
    }

    h3 {
      font-size: 20px;
      line-height: 35px;
      font-weight: 700;
      margin-bottom: 22px;
      font-family: "Inter";
    }

    p {
      font-size: 17px;
      line-height: 35px;
      margin-bottom: 20px;
      font-family: "Inter";
    }

    h4 {
      font-size: 20px;
      line-height: 35px;
      font-family: "Inter";
      font-weight: 700;
      margin-bottom: 30px;
    }
  }
}

.header-sticky {
  .location-listing-wrapper {
    header {
      background-color: $white;
    }
  }
}

.location-listing-wrapper {
  header {
    background-color: transparent;
    border: none;
  }

  .middle-content {
    padding-top: 0;
  }

  .section-image-content-slider {
    .location-title {
      min-height: 30px;
    }

    .content-p {
      min-height: 60px;
    }
  }

  .section-image-content-location {
    .col-img {
      padding-bottom: 41.6%;

      @media (max-width: 767px) {
        padding-bottom: 75%;
      }
    }

    .col-img-content {
      padding-top: 130px;

      @media (max-width: 1023px) {
        padding-top: 100px;
      }
    }
  }
}

.section-youtube-video {
  padding: 50px 0;
}

.section-location-reviews {
  padding: 90px 0;
}

.section-two-card-layout {
  padding: 50px 60px;

  .heading-wrap {
    padding-bottom: 60px;

    .container {
      text-align: center;
      max-width: 825px;
    }

    h2 {
      margin-bottom: 30px;
    }
  }

  .row {
    margin: 0 -30px;

    .col {
      padding: 0 30px;
    }
  }

  .card {
    height: 100%;
    position: relative;

    &:after {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      transition: background-color 0.15s ease-in-out;
    }

    &:hover {
      &:after {
        background-color: rgba($color: $black, $alpha: 0.2);
      }

      @media (max-width: 1196px) {
        &:after {
          background-color: transparent;
        }
      }

      .card-content .right-arrow-click {
        .arrow {
          border-color: $black;
          opacity: 1;
          animation: resetAnimation 0.3s;

          @media (max-width: 1196px) {
            width: 67px;
            transform: none;
          }
        }

        .head,
        .head:after {
          border-color: $black;
          opacity: 1;
        }
      }
    }

    .arrow {
      width: 67px;
      // transition: all 0.3s ease;
      border: 1px solid $black;
      opacity: 1;
      position: relative;
      background: $black;
      display: inline-block;
      vertical-align: middle;
      box-sizing: border-box;

      .head,
      .head:after {
        border: 1px solid $black;
        border-radius: 1rem;
        width: 10px;
        position: absolute;
        right: -3px;
        top: 2.8px;
        transform: rotate(-39deg);
        background-color: $black;
      }

      .head:after {
        content: "";
        border-color: $black;
        right: -6px;
        top: -6px;
        transform: rotate(87deg);
      }
    }
  }

  .right-arrow-click {
    right: 60px;
    bottom: 53px;
    width: 67px;
    position: absolute;
  }

  .card-image {
    min-height: 235px;

    &.tablet-image {
      display: none;
    }
  }

  .link-url {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .card-content {
    padding: 30px 130px 55px 55px;
    position: relative;
    z-index: 1;

    h3 {
      font-size: 50px;
      line-height: 57px;
      font-weight: 700;
      margin: 20px 0 30px;
    }

    p {
      max-width: 570px;
      line-height: 35px;
    }

    img {
      max-width: 45px;
    }
  }
}

.section-location-project-fingertips {
  .new-section-title {
    h2 {
      font-size: 70px;
      line-height: 1.21;
      letter-spacing: 0px;
    }
  }
}

.section-our-service-area {
  letter-spacing: 0;

  .img-map {
    height: 100%;
    position: relative;

    img {
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  .nyc-img-map-wrap {
    padding: 11px 11px 11px 71px;
    height: 100%;

    @media (max-width: 1199px) {
      padding-left: 30px;
    }
  }

  .nyc-img-map {
    img {
      max-width: 383px;
      object-fit: contain;
    }
  }

  .miami-img-map {
    img {
      max-width: 347px;
      object-fit: contain;
    }
  }

  .img-tablet {
    display: none;
  }

  .col-content {
    max-width: 40%;
    flex: 0 0 40%;

    p {
      line-height: 30px;
    }
  }

  .col-last {
    max-width: 30%;
    flex: 0 0 30%;
  }

  .col-image {
    max-width: 30%;
    flex: 0 0 30%;
  }

  h2 {
    line-height: 57px;
    margin-bottom: 30px;
  }

  .content-wrap {
    margin: 0 auto;
    max-width: 674px;
    padding-top: 115px;
    padding-bottom: 80px;
  }

  .nyc-col-content,
  .miami-col-content {
    .content-wrap {
      padding-bottom: 115px;

      @media (max-width: 1600px) {
        padding-bottom: 50px;
      }

      @media (max-width: 1375px) {
        padding-bottom: 30px;
      }
    }
  }
}

.section-what-we-know-really-new {
  padding: 115px;
  letter-spacing: 0;

  .img-tablet {
    display: none;
  }

  .img-desktop {
    display: block;
  }

  .card {
    position: relative;
    display: flex;
    max-width: 522px;

    + .card {
      margin-top: 60px;
    }

    &:hover {
      .card-image {
        &:after {
          background-color: rgba($color: $black, $alpha: 0.2);
        }
      }

      @media (max-width: 1196px) {
        .card-image {
          &:after {
            background-color: transparent;
          }
        }
      }

      .card-content {
        .arrow {
          border-color: $black;
          opacity: 1;
          animation: resetAnimation2 0.3s;

          @media (max-width: 1196px) {
            width: 58px;
            transform: none;
          }
        }

        .head,
        .head:after {
          border-color: $black;
          opacity: 1;
        }
      }
    }

    .arrow {
      width: 58px;
      // border: 1px solid $black;
      height: 2px;
      opacity: 1;
      position: relative;
      background: $black;
      display: inline-block;
      vertical-align: middle;
      box-sizing: border-box;
      margin-bottom: 8px;

      .head,
      .head:after {
        // border: 1px solid $black;
        height: 2px;
        border-radius: 1rem;
        width: 10px;
        position: absolute;
        right: -3px;
        top: 3px;
        transform: rotate(-45deg);
        background-color: $black;
      }

      .head:after {
        content: "";
        border-color: $black;
        right: -4px;
        top: -4px;
        transform: rotate(87deg);
      }
    }

    .card-click {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 2;
    }

    .card-image {
      max-width: 207px;
      flex: 0 0 207px;
      position: relative;

      &:after {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transition: background-color 0.15s ease-in-out;
      }

      img {
        // height: 100%;
        display: block;
      }
    }

    .card-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 20px;
    }

    h5 {
      font-size: 25px;
      line-height: 29px;
      margin-bottom: 30px;
    }
  }

  h2 {
    line-height: 57px;
    margin-bottom: 30px;
  }

  .content {
    max-width: 727px;

    p {
      line-height: 35px;

      + p {
        margin-top: 36px;
      }
    }
  }

  .card-info {
    p {
      margin-bottom: 12px;
      font-size: 14px;
      line-height: 24px;
      max-width: 256px;
    }
  }

  .card-wrap {
    padding: 38px 0;
  }

  .col-left {
    max-width: 56.5%;
    flex: 0 0 56.5%;
    padding-right: 15px;
  }

  .col-right {
    border-left: 1px solid $black;
    padding-left: 90px;
  }
}

.section-our-services-new {
  padding: 115px 117px;

  .img-tablet,
  .img-mobile {
    display: none;
  }

  .section-title {
    margin-bottom: 60px;
  }

  .card-info {
    max-width: 256px;
  }

  .card {
    position: relative;
    display: flex;
    max-width: 522px;

    &:hover {
      .card-image {
        &:after {
          background-color: rgba($color: $black, $alpha: 0.2);
        }
      }

      @media (max-width: 1196px) {
        .card-image {
          &:after {
            background-color: transparent;
          }
        }
      }

      .card-content {
        .arrow {
          border-color: $black;
          opacity: 1;
          animation: resetAnimation2 0.3s;

          @media (max-width: 1196px) {
            width: 58px;
            transform: none;
          }
        }

        .head,
        .head:after {
          border-color: $black;
          opacity: 1;
        }
      }
    }

    .arrow {
      width: 58px;
      // border: 1px solid $black;
      height: 2px;
      opacity: 1;
      position: relative;
      background: $black;
      display: inline-block;
      vertical-align: middle;
      box-sizing: border-box;
      margin-bottom: 14px;

      .head,
      .head:after {
        // border: 1px solid $black;
        height: 2px;
        border-radius: 1rem;
        width: 10px;
        position: absolute;
        right: -3px;
        top: 3px;
        transform: rotate(-45deg);
        background-color: $black;
      }

      .head:after {
        content: "";
        border-color: $black;
        right: -4px;
        top: -4px;
        transform: rotate(87deg);
      }
    }

    .card-click {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 2;
    }

    .card-image {
      max-width: 207px;
      flex: 0 0 207px;
      position: relative;

      &:after {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transition: background-color 0.15s ease-in-out;
      }

      img {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
      }
    }

    .card-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 20px;
    }

    h5 {
      font-size: 25px;
      line-height: 28px;
      margin-bottom: 12px;
    }

    p {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 12px;
    }
  }
}

.page-westchester-location {
  .section-our-service-area {
    .img-map {
      max-width: 377px;

      img {
        left: 40px;
      }
    }
  }
}

.page-connecticut-location {
  .section-our-service-area {
    .img-map {
      max-width: 394px;
    }

    img {
      left: 43px;
      @media (max-width: 1199px) {
        left: 10px;
      }
    }
  }

  .section-values {
    padding: 121px 0 65px;

    .row {
      justify-content: center;
    }

    .col-4 {
      max-width: 33.33%;
      flex: 0 0 33.33%;
      margin-bottom: 55px;
    }

    .section-title {
      max-width: 798px;
      margin: 0 auto 46px;
    }

    .content-item {
      text-align: center;
      max-width: 245px;
      margin: 0 auto;

      h4 {
        font-family: "Inter";
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0;
        margin-bottom: 12px;
      }

      p {
        letter-spacing: 0;
      }
    }
  }
}

// Responsive Start
@media (max-width: 1600px) {
  .section-what-we-know {
    h2 {
      font-size: 60px;
    }

    .left-col {
      padding: 80px;
    }

    .right-col {
      padding: 80px 80px 30px;
    }

    .row-content {
      .col-item {
        padding-bottom: 50px;
      }
    }
  }
  .section-project-info h1 {
    font-size: 47px;
    line-height: 52px;
  }

  .section-timeline-matches {
    padding: 80px;

    h2 {
      font-size: 60px;
    }

    .timeline-row {
      padding-top: 50px;
    }

    .timeline-item {
      padding: 15px;
    }

    .timeline-col {
      h4 {
        font-size: 20px;
        line-height: 28px;
      }
    }

    .timeline-item1 {
      max-width: 195px;
      height: 195px;
    }

    .timeline-item2 {
      max-width: 200px;
      height: 200px;
    }

    .timeline-item3 {
      max-width: 240px;
      height: 240px;
    }

    .timeline-item4 {
      max-width: 260px;
      height: 260px;
    }
  }

  .section-contact-us {
    padding: 80px;

    .content {
      padding-left: 80px;

      h2 {
        font-size: 60px;
      }

      p,
      h4 {
        font-size: 17px;
      }
    }
  }

  .location-listing-wrapper {
    .section-image-content-slider {
      .location-title {
        min-height: 24px;
      }

      .content-p {
        min-height: 48px;
      }

      .col-img-content .content {
        padding-right: 30px;
      }
    }
  }

  .section-two-card-layout {
    padding: 35px 60px;

    .card-content {
      padding: 30px 110px 35px 35px;

      h3 {
        font-size: 45px;
        line-height: 50px;
      }

      .right-arrow-click {
        right: 40px;
        bottom: 40px;
      }
    }
  }

  .section-our-service-area .content-wrap {
    padding-top: 60px;
    padding-bottom: 50px;
  }

  .section-what-we-know-really-new,
  .section-our-services-new {
    padding: 60px;
  }
}

// 1600 end
@media (max-width: 1440px) {
  .section-what-we-know {
    h2 {
      font-size: 50px;
    }

    .left-col {
      padding: 60px;
    }

    .right-col {
      padding: 60px 60px 30px;
    }

    .row-content {
      .col-item {
        padding-bottom: 30px;

        img {
          max-width: 80px;
        }

        h4 {
          font-size: 14px;
          line-height: 1.9;
        }
      }
    }
  }
  .section-project-info h1 {
    font-size: 44px;
    line-height: 48px;
  }

  .section-timeline-matches {
    padding: 60px;

    h2 {
      font-size: 50px;
    }

    .timeline-row {
      padding-top: 35px;
    }

    .timeline-col {
      h4 {
        font-size: 18px;
      }
    }

    .timeline-item1 {
      max-width: 150px;
      height: 150px;
    }

    .timeline-item2 {
      max-width: 170px;
      height: 170px;
    }

    .timeline-item3 {
      max-width: 210px;
      height: 210px;
    }

    .timeline-item4 {
      max-width: 230px;
      height: 230px;
    }
  }

  .section-contact-us {
    padding: 60px;

    .content {
      padding-left: 60px;

      h2 {
        font-size: 50px;
      }
    }
  }

  .section-two-full-img-layout .col-full-size-img {
    min-height: 700px;
  }

  .section-two-card-layout {
    padding: 25px 60px;

    .card-content {
      padding: 30px 110px 35px 35px;

      h3 {
        font-size: 40px;
        line-height: 1.1;
      }

      .right-arrow-click {
        right: 40px;
        bottom: 40px;
      }
    }
  }

  .section-our-services-new .card .card-image {
    max-width: 40%;
    flex: 0 0 40%;
  }
}
@media (max-width: 1300px) {
  .section-project-info h1 {
    font-size: 38px;
    line-height: 45px;
  }
}

// 1440 end
@media (max-width: 1375px) {
  .section-our-service-area {
    h2 {
      line-height: 1.2;
    }

    .content-wrap {
      padding: 60px 20px 30px;
    }
  }

  .section-what-we-know-really-new {
    .col-right {
      padding-left: 40px;
    }
  }
}

@media (max-width: 1199px) {
  .section-what-we-know {
    h2 {
      font-size: 40px;
    }

    .left-col {
      padding: 40px;
    }

    .right-col {
      padding: 40px 40px 30px;
    }

    .row-content {
      .col-item {
        img {
          max-width: 60px;
        }
      }
    }
  }
  .section-project-info h1 {
    font-size: 31px;
    line-height: 1.2;
  }

  .section-timeline-matches {
    padding: 40px;

    h2 {
      font-size: 40px;
    }

    .timeline-row {
      padding-top: 25px;
    }

    .timeline-item1 {
      max-width: 130px;
      height: 130px;
    }

    .timeline-item2 {
      max-width: 140px;
      height: 140px;
    }

    .timeline-item3 {
      max-width: 170px;
      height: 170px;
    }

    .timeline-item4 {
      max-width: 200px;
      height: 200px;
    }
  }

  .section-contact-us {
    padding: 40px;

    .content {
      padding-left: 40px;

      h2 {
        font-size: 40px;
      }

      h4,
      p {
        font-size: 14px;
        line-height: 2.1;
      }

      p,
      h4 {
        margin-bottom: 20px;
      }
    }
  }

  .section-two-full-img-layout .col-full-size-img {
    min-height: 580px;
  }

  .section-what-we-know-really-new {
    padding: 60px 40px;

    .card .card-image {
      max-width: 180px;
      flex: 0 0 180px;
    }
  }
}

// 1199 end
@media (max-width: 1023px) {
  .section-full-image {
    min-height: 700px;
  }

  .section-project-info {
    padding: 60px 0;
    h1 {
      font-size: 25px;
      margin-bottom: 30px;
    }
  }

  .section-single-heading {
    padding: 60px 0;
  }

  .section-two-full-img-layout .col-full-size-img {
    min-height: 400px;
  }

  .section-location-reviews {
    padding: 50px 0;
  }

  .section-what-we-know-really-new {
    .col-right {
      padding-left: 30px;
    }
  }

  .section-our-services-new {
    .img-desktop,
    .img-mobile {
      display: none;
    }

    .img-tablet {
      display: block;
    }

    .section-title {
      margin-bottom: 30px;
    }

    .col {
      max-width: 100%;
      flex: 0 0 100%;

      + .col {
        margin-top: 60px;
      }
    }

    .card {
      max-width: 100%;

      .card-image {
        max-width: 52.1%;
        flex: 0 0 52.1%;
      }
    }
  }
  .section-chapter-numbers {
    padding: 60px 0;
    .row {
      white-space: nowrap;
    }
    .container {
      max-width: 860px;
    }
    .section-title {
      margin-bottom: 30px;
      h2 {
        margin-bottom: 12px;
        font-size: 25px;
        line-height: 33px;
      }
      h3 {
        line-height: 17px;
        font-size: 14px;
      }
    }
    .counter-group {
      h4 {
        font-size: 70px;
        line-height: 80px;
        margin-bottom: 6px;
      }
    }
  }
}

// 1023 end
@media (max-width: 991px) {
  .section-project-info {
    h2 {
      margin-bottom: 30px;
    }
  }

  .section-what-we-know {
    .col {
      max-width: 100%;
      flex: 0 0 100%;
    }

    h2 {
      font-size: 25px;
      line-height: 30px;
      letter-spacing: -0.15px;
    }

    .left-col {
      padding: 60px 20px 30px;

      p {
        br {
          display: none;
        }
      }
    }

    .right-col {
      padding: 52px 40px 20px;
    }

    .row-content {
      .col-item {
        padding-bottom: 60px;

        img {
          max-width: 70px;
        }

        h4 {
          line-height: 24px;
        }
      }
    }
  }

  .section-timeline-matches {
    padding: 60px 20px;

    h2 {
      font-size: 25px;
      line-height: 30px;
      letter-spacing: -0.15px;
    }

    .content {
      max-width: 100%;
    }

    .link-text {
      margin-top: 20px;
    }

    .timeline-row {
      padding-top: 30px;
      margin: 0 -13px;

      .timeline-col {
        padding: 0 13px;

        &:first-child {
          max-width: 21%;
          flex: 0 0 21%;
        }

        &:nth-child(2) {
          max-width: 23%;
          flex: 0 0 23%;
        }

        &:nth-child(3) {
          max-width: 27%;
          flex: 0 0 27%;
        }

        &:last-child {
          max-width: 29%;
          flex: 0 0 29%;
        }

        h4 {
          font-size: 14px;
          line-height: 33px;
        }
      }
    }

    .timeline-item1 {
      max-width: 115px;
      height: 115px;
    }

    .timeline-item2 {
      max-width: 134px;
      height: 134px;
    }

    .timeline-item3 {
      max-width: 159px;
      height: 159px;
    }

    .timeline-item4 {
      max-width: 172px;
      height: 172px;
    }
  }

  .section-contact-us {
    padding: 60px 20px;

    .bg-image {
      max-width: 50%;
      padding-bottom: 62.9%;
    }

    .content {
      padding-left: 30px;

      h2 {
        font-size: 25px;
        line-height: 30px;
        letter-spacing: -0.15px;

        br {
          display: none;
        }
      }

      h3 {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 30px;
      }

      p,
      h4 {
        line-height: 24px;
      }

      h4 {
        margin-bottom: 30px;

        br {
          display: none;
        }
      }

      p {
        margin-bottom: 20px;
      }
    }
  }

  .section-full-image {
    min-height: 600px;
  }

  .section-two-card-layout {
    .row .col-card {
      max-width: 100%;
      flex: 0 0 100%;

      + .col-card {
        padding-top: 60px;
      }
    }

    .card-content {
      padding: 35px 60px 35px 30px;

      p {
        line-height: 24px;
      }

      h3 {
        br {
          display: none;
        }
      }

      .right-arrow-click {
        bottom: 30px;
      }

      img {
        max-width: 40px;
      }
    }

    .card-image {
      min-height: 176px;

      &.desktop-image {
        display: none;
      }

      &.tablet-image {
        display: block;
      }
    }
  }

  .section-image-content-location {
    .col {
      max-width: 100%;
      flex: 0 0 100%;
    }

    .col-img-content {
      order: 0;
    }

    .col-img {
      order: 1;
    }
  }

  .section-our-service-area {
    .img-desktop {
      display: none;
    }

    .img-tablet {
      max-width: 525px;
      display: block;
      margin: 0 auto;

      img {
        display: block;
      }
    }

    .nyc-img-map-wrap {
      padding: 0 26px 46px;

      @media (max-width: 767px) {
        padding-bottom: 20px;
      }

      .img-tablet {
        max-width: 337px;

        img {
          max-width: 100%;
        }
      }
    }

    .miami-img-map-wrap {
      padding-bottom: 30px;

      .img-tablet {
        max-width: 303px;

        @media (max-width: 767px) {
          max-width: 288px;
        }

        img {
          max-width: 100%;
        }
      }
    }

    .col-content {
      order: 0;
    }

    .col-image {
      order: 1;
    }

    .col {
      max-width: 100%;
      flex: 0 0 100%;
    }
  }

  .section-what-we-know-really-new {
    padding: 60px 20px;

    h2 {
      line-height: 30px;
    }

    .img-desktop {
      display: none;
    }

    .img-tablet {
      display: block;
    }

    .col-left {
      max-width: 100%;
      flex: 0 0 100%;
      text-align: center;
      padding: 0;
      margin-bottom: 30px;
    }

    .col-right {
      border: none;
      padding: 0;
    }

    .content {
      max-width: 100%;

      p {
        line-height: 24px;

        + p {
          margin-top: 25px;
        }
      }
    }

    .card-wrap {
      padding: 30px 38px 0;
      position: relative;

      &::before {
        content: "";
        border-top: 1px solid $black;
        display: block;
        position: absolute;
        top: 0;
        left: 48px;
        width: calc(100% - 96px);
      }
    }

    .card {
      max-width: 100%;

      .card-image {
        max-width: 338px;
        flex: 0 0 338px;

        @media (min-width: 768px) and (max-width: 991px) {
          img {
            height: 188px;
            object-fit: cover;
            overflow: hidden;
            width: 100%;
          }
        }
      }

      .card-info {
        h5 {
          margin-bottom: 12px;
        }

        p {
          max-width: 270px;
        }
      }
    }
  }

  .section-miami-what-we-know-really-new {
    .card-wrap {
      max-width: calc(100% - 116px);
      margin: 0 auto;
      padding: 30px 0 0;

      @media (max-width: 767px) {
        max-width: 100%;
      }
    }
  }

  .page-westchester-location {
    .section-our-service-area {
      .img-tablet {
        max-width: 235px;
      }
    }
  }

  .page-connecticut-location {
    .section-our-service-area {
      .img-tablet {
        max-width: 394px;
      }

      img {
        left: 0px;
      }
    }

    .section-values {
      padding: 60px 0 30px;

      .col-4 {
        max-width: 50%;
        flex: 0 0 50%;
        margin-bottom: 32px;
      }

      .content-item {
        max-width: 350px;

        .image {
          img {
            max-width: 35px;
          }
        }

        h4 {
          font-size: 14px;
          line-height: 24px;
          margin-bottom: 0px;
        }
      }
    }
  }
}

// 991 end
@media (max-width: 880px) {
  .location-listing-wrapper {
    .section-image-content-slider {
      .content-p {
        min-height: 72px;
      }

      .slick-dots {
        padding-bottom: 0;
      }
    }
  }
}

// 880 end
@media (max-width: 767px) {
  .section-image-content {
    .page-title {
      margin: 0 auto;

      h1 {
        br {
          display: none;
        }
      }
    }
  }

  .section-full-image {
    min-height: 300px;
    padding-bottom: 75%;
  }

  .section-two-full-img-layout .bg-image {
    min-height: 300px;
    padding-bottom: 75%;
  }

  .section-two-full-img-layout .col-full-size-img {
    min-height: 290px;
  }

  .section-project-info p + p {
    margin-top: 12px;
  }

  .section-what-we-know {
    .right-col {
      padding: 30px 20px 5px;
    }

    .row-content {
      margin: 0;

      .col {
        max-width: 100%;
        flex: 0 0 100%;
        text-align: left;
        position: relative;

        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 5px;
          left: 0;
          background-image: url("../../images/location-img/icons/accept_small.svg");
          height: 16px;
          width: 16px;
        }
      }

      .col-item {
        padding-bottom: 25px;

        img {
          display: none;
        }

        h4 {
          font-size: 14px;
          line-height: 24px;
          margin: 0 0 0 10px;

          br {
            display: none;
          }
        }
      }
    }
  }

  .section-timeline-matches {
    .timeline-row {
      flex-direction: column;

      .timeline-col {
        min-width: 140px;
        min-height: 80px;

        &:after {
          border: none;
          height: 100%;
          top: 82%;
          bottom: 0;
          border-left: 2px dashed $black;
          left: 50%;
          transform: translateY(-50%);
        }

        &:before {
          top: auto;
          bottom: 0;
          left: calc(50% - 6px);
          transform: translateY(calc(50% - 6px));
        }

        &:first-child {
          max-width: 100%;
          flex: 0 0 100%;
        }

        &:nth-child(2) {
          max-width: 100%;
          flex: 0 0 100%;
        }

        &:nth-child(3) {
          max-width: 100%;
          flex: 0 0 100%;
        }

        &:last-child {
          max-width: 100%;
          flex: 0 0 100%;
        }

        .timeline-item {
          background-color: transparent;
          max-width: 100%;
          height: auto;
          padding: 0;
        }

        h4 {
          line-height: 24px;

          br {
            display: none;
          }
        }
      }

      .timeline-item4 {
        .desktop-image {
          display: none;
        }

        .mobile-image {
          background-color: $pearl-drop2;
          display: block;
          height: 64px;
          width: 64px;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 10px;

          img {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .section-contact-us {
    padding: 60px 0 0;

    .col {
      max-width: 100%;
      flex: 0 0 100%;
    }

    .col-img {
      order: 1;
      margin-top: 30px;
      background-image: url("../../images/location-img/mobile-section-contact-us.webp") !important;
      min-height: 290px;
      padding-bottom: 74%;
    }

    .content {
      padding: 0 20px;
      text-align: center;
    }
  }

  .location-listing-wrapper {
    .section-image-content-slider {
      background-color: transparent;

      .col-img {
        padding-bottom: 66.59%;
      }

      .col-img-content {
        background-color: $pearl-drop2;

        .content {
          padding-right: 20px;
        }
      }

      .content-p {
        min-height: 48px;
      }

      .slick-dots {
        top: 220px;
      }
    }
  }

  .largeContent .col-img {
    min-height: 290px;
  }

  .section-location-reviews {
    padding: 30px 0;
  }

  .section-home-reviews {
    padding: 20px 0;
  }

  .section-two-card-layout {
    padding: 10px 20px;

    .row {
      margin: 0;

      .col {
        padding: 0;
      }

      .col-full-card {
        margin-bottom: 0;
      }

      .col-card + .col-card {
        padding-top: 30px;
      }
    }

    .card-content {
      padding: 30px 30px 78px 30px;

      h3 {
        font-size: 25px;
        line-height: 29px;
        margin: 0 0 13px;
      }

      .right-arrow-click {
        right: 30px;
        top: auto;
        bottom: 20px;
      }

      img {
        max-width: 30px;
      }
    }

    .card-image {
      min-height: 107px;
      padding-bottom: 30%;
    }
  }

  .section-location-project-fingertips {
    .new-section-title {
      max-width: 350px;

      h2 {
        font-size: 45px;
        line-height: 60px;
        letter-spacing: 0px;
      }
    }
  }

  .section-what-we-know-really-new {
    padding: 60px 20px 30px;

    .img-tablet {
      display: none;
    }

    .img-desktop {
      display: block;
      position: relative;
      min-height: 144px;
      img {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        left: 0;
        object-fit: cover;
      }
    }

    .card-wrap {
      padding: 30px 0 0;

      &::before {
        width: 100%;
        left: 0;
      }
    }

    .content {
      p span {
        display: block;
      }
    }

    .card {
      + .card {
        margin-top: 30px;
      }

      .card-image {
        max-width: 28.7%;
        flex: 0 0 28.7%;

        > div {
          height: 100%;
        }
      }

      .card-info p {
        max-width: 230px;
        margin-bottom: 16px;

        span {
          display: block;
        }
      }

      .card-content {
        padding-left: 15px;

        h5 {
          max-width: 84%;
        }
      }
    }
  }

  .section-our-services-new {
    .img-tablet,
    .img-tablet {
      display: none;
    }

    .img-mobile {
      display: block;
      padding-bottom: 24.8%;
    }
  }

  .section-our-services-new {
    padding: 60px 20px;

    .row {
      margin: 0;
    }

    .col {
      padding: 0;

      + .col {
        margin-top: 45px;
      }
    }

    .card {
      flex-direction: column;

      .card-image {
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: 24px;
      }

      .card-content {
        padding: 0;
        text-align: left;
      }

      .card-info {
        max-width: 100%;
        margin-bottom: 24px;
      }
    }
  }

  .page-westchester-location {
    .section-our-service-area {
      .section-content {
        max-width: 420px;
        margin: 0 auto;

        br {
          display: none;
        }
      }
    }
  }
  .page-connecticut-location {
    .section-values {
      .col-4 {
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: 32px;
      }
    }
  }
  .section-chapter-numbers {
    .row {
      white-space: normal;
      .col {
        padding-bottom: 32px;
        max-width: 100%;
        flex: 0 0 100%;
        &:last-child {
          padding-bottom: 0;
        }
      }
    }
    .counter-group {
      h4 {
        font-size: 45px;
        line-height: 60px;
        margin-bottom: 6px;
      }
      h5 {
        font-size: 17px;
        line-height: 24px;
        font-weight: 300;
      }
    }
  }
}

// 767 end
@media (max-width: 375px) {
  .location-listing-wrapper {
    .section-image-content-slider {
      .slick-dots {
        top: 225px;
      }
    }
  }
}

// 375 end
@media (max-width: 360px) {
  .location-listing-wrapper {
    .section-image-content-slider {
      .content-p {
        min-height: 72px;
      }

      .slick-dots {
        top: 250px;
      }
    }
  }
}
