@import "../classes.scss";
@import "../common.scss";
@import "../components/slider.scss";
@import "../components/header.scss";
// @import "../components/footer.scss";
@import "../components/category.scss";
@import "../components/form-elements.scss";
@import "../components/chapter-content.scss";
@import "../components/image-content.scss";
@import "../components/home-new-projects-slider.scss";
@import "../components/accordion.scss";
@import "../components/section-blog-expert-help.scss";
@import "../components/footer-dynamic.scss";

.page-services {
    header {
        border-bottom: 0.5px solid $border-color;
    }

    .sub-title,
    h1 {
        font-size: 75px;
        line-height: 1.13;
        letter-spacing: 0;
    }
}

.mobile-content {
    display: none;
}

.home-new-projects-slider .heading-content-wrap {
    background-color: $pearl-drop2;
}

.section-intro-image {
    padding: 80px 0;

    .section-content-col {
        padding-left: 115px;
    }

    .col-img {
        background-size: 76% auto;
    }

    .page-title {
        max-width: 630px;
    }

    .content {
        max-width: 600px;
        margin: 0;
        padding: 30px 0;
    }
}

.section-what-we-know {
    padding: 115px 0 65px;

    .container {
        max-width: 960px;
    }

    .content-row {
        .col {
            max-width: 33.33%;
            flex: 0 0 33.33%;
        }
    }

    .heading-content {
        margin-bottom: 30px;

        p {
            font-size: 17px;
            line-height: 2;
            max-width: 540px;
            margin: 0 auto;
        }
    }

    h2 {
        margin-bottom: 30px;
    }

    .col-item {
        padding-bottom: 50px;

        h4 {
            font-size: 17px;
            line-height: 30px;
            font-family: "Inter";
            font-weight: 300;
            margin-top: 30px;
        }
    }
}

.section-our-design-team {
    padding: 111px 115px;

    h2 {
        margin-bottom: 30px;
    }

    .section-content-col {
        max-width: 56%;
        flex: 0 0 56%;
        padding-right: 30px;
    }

    .content {
        max-width: 860px;
        font-size: 17px;
        line-height: 40px;
        font-weight: 300;
    }

    .bg-image {
        padding-bottom: 43%;
    }
}

.section-project-manager {
    padding: 136px 115px;

    .content {
        max-width: 570px;
    }

    h2 {
        margin-bottom: 30px;
        max-width: 580px;
    }

    .section-image-content {
        max-width: 56%;
        flex: 0 0 56%;
        padding-right: 30px;
    }

    .image {
        max-width: 730px;
        margin: 0 auto;
    }
}

.section-two-card-layout {
    padding: 50px 60px;

    .row {
        margin: 0 -30px;

        .col {
            padding: 0 30px;
        }
    }

    .col-full-card {
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: 60px;

        .card-content p {
            max-width: 640px;
        }
    }

    @keyframes resetAnimation {
        0% {
            // transform: translateX(7px);
            width: 67px;
        }

        50% {
            width: 74px;
        }

        100% {
            // transform: translateX(0);
            width: 67px;
        }
    }

    .card {
        height: 100%;
        position: relative;

        &:after {
            content: "";
            display: block;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            transition: background-color 0.150s ease-in-out;
        }

        &:hover {
            &:after {
                background-color: rgba($color: $black, $alpha: 0.20);
            }

            @media (max-width:1196px) {
                &:after {
                    background-color: transparent;
                }
            }

            .card-content .right-arrow-click {

                .arrow {
                    border-color: $black;
                    opacity: 1;
                    animation: resetAnimation 0.3s;

                    @media (max-width:1196px) {
                        width: 67px;
                        transform: none;
                    }
                }

                .head,
                .head:after {
                    border-color: $black;
                    opacity: 1;
                }
            }
        }

        .arrow {
            width: 67px;
            // transition: all 0.3s ease;
            border: 1px solid $black;
            opacity: 1;
            position: relative;
            background: $black;
            display: inline-block;
            vertical-align: middle;
            box-sizing: border-box;

            .head,
            .head:after {
                border: 1px solid $black;
                border-radius: 1rem;
                width: 10px;
                position: absolute;
                right: -4px;
                top: 2px;
                transform: rotate(-45deg);
                background-color: $black;
            }

            .head:after {
                content: "";
                border-color: $black;
                right: -6px;
                top: -6px;
                transform: rotate(87deg);
            }
        }
    }

    .right-arrow-click {
        right: 60px;
        bottom: 53px;
        width: 67px;
        position: absolute;
    }

    .card-image {
        min-height: 429px;

        &.tablet-image {
            display: none;
        }
    }

    .link-url {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .card-content {
        padding: 30px 130px 55px 55px;
        position: relative;
        z-index: 1;

        h3 {
            font-size: 50px;
            line-height: 57px;
            font-weight: 700;
            margin: 20px 0 30px;
        }

        p {
            max-width: 570px;
            line-height: 35px;
        }

    }
}

.section-reviews {
    padding: 30px 0;
}

// Kitchen components start
.section-kitchen-intro-image {
    padding: 0;

    .section-content-col {
        padding: 0 15px;
    }

    .section-image-content {
        padding: 110px;
    }

    .col-img {
        padding-bottom: 97.5%;
        position: relative;
    }

    .image-label {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba($color: $black, $alpha: 0.9);
        padding: 0 40px;

        h6 {
            font-size: 17px;
            line-height: 40px;
            font-family: "Inter";
            font-weight: 300;
            color: $white;
        }
    }

    .page-title {
        max-width: 692px;
        margin: 0 auto;
    }

    .content {
        max-width: 600px;
        margin: 0 auto;
        padding: 30px 0;
    }
}

.section-what-invloved {
    padding: 115px 0 47px;

    .heading-content {
        max-width: 992px;
        margin: 0 auto 50px;

        h2 {
            line-height: 58px;
            margin-bottom: 30px;
        }

        h4 {
            font-size: 20px;
            line-height: 30px;
            font-weight: 700;
            margin: 16px 0;
            font-family: "Inter";
        }
    }

    .col-tablet {
        display: none;
    }

    .content-wrap {
        .col-item {
            max-width: 33.33%;
            flex: 0 0 33.33%;
        }

        h5 {
            font-size: 20px;
            line-height: 22px;
            margin-bottom: 12px;
            font-family: "Inter";
        }

        .content {
            max-width: 360px;
            margin-bottom: 68px;
        }

        .dash {
            background-color: $black;
            height: 2px;
            width: 8px;
            margin: 3px 0 8px;
        }
    }
}

.section-plan-design-build {
    padding: 115px 134px;

    * {
        color: $white;
    }

    .row {
        margin: 0 -20px;
    }

    .col {
        padding: 0 20px;
    }

    .card {
        border: 1px solid $white;
        height: 100%;

        .card-header {
            border-bottom: 1px solid $white;
            min-height: 203px;
        }

        .card-content {
            padding: 42px 42px 65px;
        }

        h6 {
            font-size: 17px;
            line-height: 47px;
            font-family: "Inter";
            font-weight: 300;
        }

        h2 {
            line-height: 57px;
        }

        p {
            font-size: 17px;
            line-height: 35px;
            font-weight: 400;
        }

        .time {
            padding-top: 40px;

            h6 {
                display: flex;
                align-items: center;
                font-size: 17px;
                line-height: 35px;
                font-weight: 700;
                margin-bottom: 9px;
                font-family: "Inter";

                img {
                    margin-right: 7px;
                }
            }
        }

        h5 {
            font-family: "Inter";
            font-size: 17px;
            line-height: 35px;
            font-weight: 400;

            strong {
                font-weight: 700;
            }
        }
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0;
        margin: 0 -6.5px;
        width: 100%;
        position: absolute;
        bottom: -35px;

        li {
            padding: 0 6.5px;
            line-height: 0;
        }

        .slick-active {
            button {
                background-color: $white;
            }
        }

        button {
            background-color: transparent;
            border: none;
            font-size: 0;
            border: 0.25px solid $white;
            height: 11px;
            width: 11px;
            border-radius: 100%;
        }
    }
}

.section-plan-design-build-method {
    .col {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .section-content-col {
        padding: 107px 115px 180px;
    }

    .content-wrap {
        max-width: 740px;
        margin: 0 auto;

        h2 {
            margin-bottom: 30px;
        }

        p {
            line-height: 40px;
        }
    }
}

.section-access-world {
    .section-image-content {
        padding: 115px;

        .col-img {
            padding-bottom: 98.5%;
        }
    }

    .col {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .content-wrap {
        max-width: 847px;
        padding: 40px 0;

        h2 {
            margin-bottom: 30px;
        }

        h5 {
            font-size: 20px;
            line-height: 35px;
            font-family: "Inter";
            margin-bottom: 12px;
        }

        p {
            line-height: 35px;
            margin-bottom: 10px;
        }
    }
}

// Responsive css start
@media (max-width:1600px) {
    .page-services {

        .sub-title,
        h1 {
            font-size: 70px;
            line-height: 80px;
        }
    }

    .section-intro-image {
        padding: 50px 0;

        .section-content-col {
            padding-left: 80px;
        }
    }

    .section-what-we-know {
        padding: 80px 0 50px;

        .heading-content {
            p {
                font-size: 17px;
            }
        }
    }

    .section-our-design-team {
        padding: 70px 80px;

        .content {
            font-size: 17px;
            line-height: 2;
        }
    }

    .section-project-manager {
        padding: 100px 80px;
    }

    .section-two-card-layout {
        padding: 35px 60px;

        .card-content {
            padding: 30px 110px 35px 35px;

            h3 {
                font-size: 45px;
                line-height: 50px;
            }

            .right-arrow-click {
                right: 40px;
                bottom: 40px;
            }
        }
    }

    .section-kitchen-intro-image {
        .section-image-content {
            padding: 80px;
        }
    }

    .section-what-invloved {
        padding: 80px 0 40px;

        .heading-content {
            margin: 0 auto 40px;
        }
    }

    .section-plan-design-build {
        padding: 80px 100px;
    }

    .section-plan-design-build-method {
        .section-content-col {
            padding: 80px 80px 150px;
        }
    }

    .section-access-world {
        .section-image-content {
            padding: 80px;
        }
    }
}

// 1600px end
@media (max-width:1440px) {
    .section-intro-image {
        padding: 35px 0;

        .section-content-col {
            padding-left: 60px;
        }
    }

    .section-what-we-know {
        padding: 60px 0 35px;

        .heading-content {
            p {
                font-size: 16px;
            }
        }
    }

    .section-our-design-team {
        padding: 50px 60px;

        .content {
            font-size: 16px;
        }
    }

    .section-project-manager {
        padding: 80px 60px;
    }

    .section-two-card-layout {
        padding: 25px 60px;

        .card-content {
            padding: 30px 110px 35px 35px;

            h3 {
                font-size: 40px;
                line-height: 1.1;
            }

            .right-arrow-click {
                right: 40px;
                bottom: 40px;
            }
        }
    }

    .section-kitchen-intro-image {
        .section-image-content {
            padding: 60px;
        }
    }

    .section-plan-design-build {
        padding: 60px 60px;
    }

    .section-plan-design-build-method .section-content-col {
        padding: 60px 60px 120px;
    }

    .section-access-world .section-image-content {
        padding: 60px;
    }
}

// 1440 end
@media (max-width:1196px) {
    .section-plan-design-build {
        padding:60px 20px;
        .card .card-header {
            min-height: 200px;
            background-position: top center;
            padding-bottom: 30%;
        }
        .slick-track {
            display: flex;
        }
        .slider-item {
            height: inherit;
        }
        .slick-list {
            padding: 0 100px !important;
        }
    }
}

@media (max-width:1023px) {
    .section-kitchen-intro-image {
        .col {
            max-width: 100%;
            flex: 0 0 100%;
        }

        .section-image-content {
            order: 1;
            padding: 37px;

            .col-img {
                background-size: cover;
                padding-bottom: 73.5%;
            }

            .image-label {
                h6 {
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }

        .content-wrap {
            max-width: 560px;
            margin: 0 auto;
            padding: 30px 0 60px;
            position: relative;

            &:after {
                content: " ";
                display: block;
                position: absolute;
                left: 50%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
                bottom: -10px;
                height: 20px;
                width: 2px;
                z-index: 1;
                background-color: $black;
            }
        }

        .content {
            max-width: 405px;
            margin: 0 auto;
        }
    }

    .section-what-invloved {
        padding: 60px 80px 30px;

        .heading-content {
            margin: 0 auto 35px;

            h2 {
                line-height: 29px;
            }

            p {
                line-height: 30px;
            }

            h4 {
                display: none;
            }
        }

        .row {
            margin: 0 -19px;

            .col {
                padding: 0 19px;
            }
        }

        .col-tablet {
            display: block;

            h4 {
                font-size: 14px;
                line-height: 24px;
                font-family: "Inter";
            }
        }

        .content-wrap {
            .col-item {
                max-width: 50%;
                flex: 0 0 50%;
            }

            h5 {
                font-size: 14px;
                line-height: 22px;
            }

            .content {
                max-width: 285px;
                margin-bottom: 26px;
            }
        }
    }

    .section-plan-design-build {

        .card {
            .card-content {
                padding: 30px 30px 54px;
            }

            h6 {
                font-size: 14px;
                line-height: 24px;
            }

            h2 {
                font-size: 40px;
            }

            p {
                font-size: 14px;
                line-height: 24px;
            }

            .time {
                padding-top: 60px;

                h6 {
                    font-size: 14px;
                    line-height: 24px;
                }
            }

            h5 {
                font-size: 14px;
                line-height: 24px;
            }
        }
    }

    .section-plan-design-build-method {
        .col {
            max-width: 100%;
            flex: 0 0 100%;
        }

        .section-image-content {
            min-height: 335px;
            padding-bottom: 40%;
        }

        .section-content-col {
            padding: 60px;
        }

        .content-wrap {
            p {
                font-size: 14px;
                line-height: 24px;
            }
        }
    }

    .section-access-world {
        letter-spacing: 0;

        .section-image-content {
            padding: 0 60px 60px;
            order: 1;

            .col-img {
                padding-bottom: 86.8%;
            }
        }

        .section-content-col {
            order: 0;
        }

        .col {
            max-width: 100%;
            flex: 0 0100%;
        }

        .content-wrap {
            padding: 60px;

            h5 {
                font-size: 14px;
                line-height: 24px;
            }

            p {
                line-height: 24px;
            }
        }
    }

    .home-new-projects-slider {
        .col-12 {
            max-width: 100%;
            flex: 0 0 100%;
        }
    }

    .section-accordion {
        padding: 60px 14px;

        h2 {
            font-size: 50px;
        }

        .section-title {
            padding-bottom: 30px;
        }

        .card {
            button {
                line-height: 24px;
                padding: 28.5px 50px 28.5px 0;
            }
        }
    }
}

// 1023 end
@media (max-width:991px) {
    .section-intro-image {
        .col {
            max-width: 100%;
            flex: 0 0 100%;
            padding-left: 20px;
            padding-right: 20px;
        }

        .section-image-content {
            background-size: contain;
        }

        .content-wrap {
            max-width: 455px;
            margin: 0 auto;
            text-align: center;
            padding-bottom: 80px;
            position: relative;

            &:after {
                content: ' ';
                display: block;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 10px;
                height: 20px;
                width: 2px;
                background-color: $black;
            }

            h1 {
                br {
                    display: none;
                }
            }

            .content {
                max-width: 403px;
                margin: 0 auto;
            }
        }
    }

    .section-two-card-layout {
        .row .col-card {
            max-width: 100%;
            flex: 0 0 100%;

            +.col-card {
                padding-top: 60px;
            }
        }

        .card-content {
            padding: 35px 60px 35px 30px;

            p {
                line-height: 24px;
            }

            h3 {
                br {
                    display: none;
                }
            }

            .right-arrow-click {
                bottom: auto;
                top: 115px;
            }
        }

        .card-image {
            &.desktop-image {
                display: none;
            }

            &.tablet-image {
                display: block;
            }
        }
    }

    .section-project-manager {
        padding: 60px;

        .col {
            max-width: 100%;
            flex: 0 0 100%;
        }

        .section-image-content {
            order: 1;
            padding: 0;
        }

        .content {
            max-width: 640px;
        }

        .image {
            padding-top: 110px;
            max-width: 503px;
        }
    }

    .section-our-design-team {
        padding: 60px;

        .col {
            max-width: 100%;
            flex: 0 0 100%;
        }

        .bg-image {
            padding-bottom: 102%;
        }

        .section-content-col {
            padding: 0 0 60px;
        }

        .content {
            font-size: 14px;
            line-height: 24px;
        }
    }

    .section-what-we-know {
        padding: 115px 0 60px;

        .heading-content {
            margin: 0 auto 30px;
            max-width: 620px;
            text-align: center;

            p {
                font-size: 14px;
                line-height: 40px;
                max-width: 430px;
            }
        }

        .col-item {
            h4 {
                font-size: 14px;
                line-height: 30px;
            }
        }
    }
}

// 991 end
@media (max-width:767px) {
    .page-services {

        .sub-title,
        h1 {
            font-size: 45px;
            line-height: 60px;
        }
    }

    .mobile-content {
        display: flex;

        h3 {
            display: flex;
            align-items: center;

            img {
                margin-right: 12px;
                max-width: 35px;
            }
        }
    }

    .desktop-content {
        display: none;
    }

    .section-two-card-layout {
        padding: 10px 20px;

        .row {
            margin: 0;

            .col {
                padding: 0;
            }

            .col-full-card {
                margin-bottom: 0;
            }

            .col-card+.col-card {
                padding-top: 30px;
            }
        }

        .card-content {
            padding: 30px 30px 78px 30px;

            h3 {
                font-size: 25px;
                line-height: 29px;
                margin: 0 0 13px;
            }

            .right-arrow-click {
                right: 30px;
                top: auto;
                bottom: 20px;
            }
        }

        .card-image {
            min-height: 200px;
            padding-bottom: 56.25%;
        }
    }

    .section-reviews {
        padding: 10px 0;
    }

    .section-project-manager {
        padding: 30px 20px;

        p {
            font-size: 17px;
            line-height: 35px;
        }

        .image {
            padding-top: 60px;
            max-width: 85%;
        }
    }

    .section-our-design-team {
        padding: 60px 20px;

        .section-content-col {
            padding-bottom: 30px;
        }

        .bg-image {
            padding-bottom: 86.5%;
        }
    }

    .section-what-we-know {
        padding: 60px 0 40px;
        background-color: $light-pink;

        .container {
            text-align: left;
        }

        .heading-content {
            text-align: left;

            p {
                line-height: 24px;
            }
        }

        .row {
            .col {
                max-width: 100%;
                flex: 0 0 100%;
            }
        }

        .col-item {
            padding: 0 0 20px 30px;
            position: relative;

            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 5px;
                left: 0;
                background-image: url("../../images/location-img/icons/accept_small.svg");
                height: 16px;
                width: 16px;
            }

            img {
                display: none;
            }

            h4 {
                margin: 0;
                font-weight: 300;
            }
        }
    }

    .section-kitchen-intro-image {
        .section-image-content {
            padding: 30px;

            .col-img {
                padding-bottom: 99.5%;
            }

            .image-label {
                width: 100%;
                text-align: center;
            }
        }
    }

    .section-what-invloved {
        padding: 30px 0px 0px;

        .heading-content {
            margin: 0 auto 35px;
            text-align: left;

            h2 {
                line-height: 28px;
                max-width: 252px;
            }

            p {
                line-height: 35px;
            }
        }

        .col-tablet {
            margin-bottom: 30px;

            h4 {
                font-size: 14px;
                line-height: 24px;
                font-family: "Inter";
            }
        }

        .content-wrap {
            .col-item {
                max-width: 100%;
                flex: 0 0 100%;
            }

            .content {
                max-width: 100%;
                margin-bottom: 36px;
            }

            .title-content {
                display: flex;
                align-items: center;
                margin-bottom: 12px;

                .dash {
                    display: none;
                }

                h5 {
                    margin: 0 0 0 8px;
                }

                img {
                    max-width: 25px;
                    height: auto;
                }
            }
        }
    }

    .section-plan-design-build {
        padding: 30px 20px 71px;
        .slick-list {
            padding: 0 55px !important;
        }
        .card .card-content {
            padding: 30px 20px 47px;

            h2 {
                font-size: 35px;
                line-height: 40px;
            }
        }
        .col {
            padding: 0 15px;
        }
    }

    .section-plan-design-build-method .section-content-col {
        padding: 30px 20px 60px;
    }

    .section-access-world {
        .content-wrap {
            padding: 60px 20px 30px;
        }

        .section-image-content {
            padding: 0 20px 30px;
        }
    }

    .section-accordion {
        padding: 60px 0;

        .card button {
            padding: 15px 50px 15px 0;
            min-height: 81px;
        }
    }
}

// 767 end
@media (max-width:389px) {
    .section-kitchen-intro-image .image-label {
        padding: 0 10px;
    }
}