.section-chapter-content {
    padding: 92px 0;
    img {
        max-width: 58px;
        margin-bottom: 20px;
        opacity: 1 !important;
    }
    h2 {
        margin-bottom: 54px;
    }
    .spinner-wrapper {
        img.small {
            -webkit-transition: -webkit-transform 3s;
            transition: -webkit-transform 3s;
            -o-transition: transform 3s;
            transition: transform 3s;
            transition: transform 3s, -webkit-transform 3s;
            &.aos-animate,
            &:hover {
                -webkit-transform: rotate(1turn);
                -ms-transform: rotate(1turn);
                transform: rotate(1turn);
            }
        }
    }
}
// Responsive CSS start
@media (max-width:1023px) {
    .section-chapter-content {
        padding: 60px 0;
        h2 {
            margin-bottom: 40px;
        }
    }
}