.modal {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    display: flex;
    align-items: center;
    right: auto;
    bottom: auto;
    justify-content: center;
    flex-direction: column;
    .modal-content {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 5px 5px 15px #00000008;
        border: 1px solid $border-color;
        border-radius: 10px;
        max-width: 70%;
        width: 100%;
        padding: 24px 0;
        margin: 0 auto;
        position: relative;
        z-index: 1;
    }
    .mid-content {
        padding: 0 12px;
        max-height: 70vh;
        overflow: hidden;
        overflow-y: auto;
    }
    .btn-close {
        position: absolute;
        right: 10px;
        top: 17px;
        padding: 0;
    }
    .modal-header {
        border-bottom: 1px solid$border-color;
        padding: 0 24px;
        margin-bottom: 12px;
        min-height: 34px;
    }
    .modal-footer {
        padding: 24px 12px 0;
        border-top: 1px solid $border-color;
        .button-group {
            button {
                +button {
                    margin-left: 24px;
                }
            }
        }
    }
}
.modal-backdrop {
    position: fixed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-tap-highlight-color: transparent;
    z-index: -1;
}
.modal-open {
    .modal-backdrop {
        opacity: 1;
        transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }
}
// common video css end
.modal-home-client-video {
    display: none;
    .modal-content {
        max-width: 85%;
        padding: 0;
        position: relative;
        border: none;
        box-shadow: none;
        background-color: transparent;
    }
    .mid-content {
        padding: 80px;
        max-height: 100%;
        overflow: initial;
    }
    .modal-header {
        margin-bottom: 0;
        min-height: auto;
        border: none;
        .btn-close {
            top: 10px;
            z-index: 999;
            position: fixed;
            top: 15px;
            right: 15px;
            // -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.031372549);
            // box-shadow: 5px 5px 15px rgba(0,0,0,0.031372549);
            // border: 1px solid #C2C2C2;
            height: 28px;
            width: 28px;
            border-radius: 100%;
            img {
                max-width: 20px;
            }
        }
    }
    .video-box {
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        min-height: 200px;
        padding-bottom: 56.25%;
        video,
        iframe {
            object-fit: cover;
            position: absolute;
            top: 50%;
            left: 50%;
            height: 100%;
            width: 100%;
            transform: translate(-50%, -50%);
            border: none;
        }
    }
}
// modal-home-client-video end
// Responsive css start
@media(max-width:991px) {
    .modal-home-client-video {
        .mid-content {
            padding: 40px;
        }
    }
}
// 991 end
@media(max-width:767px) {
    .modal-home-client-video {
        .mid-content {
            padding: 0px;
        }
    }
}
// 767 end