.section-plan-design-build-method {
    .col {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .section-content-col {
        padding: 107px 115px 180px;
    }

    .content-wrap {
        max-width: 740px;
        margin: 0 auto;

        h2 {
            margin-bottom: 30px;
        }

        p {
            line-height: 40px;
        }
    }
}
// Responsive css
@media(max-width:1600px) {
    .section-plan-design-build-method {
        .section-content-col {
            padding: 80px 80px 150px;
        }
    }
}
// 1600 end
@media(max-width:1440px) {
    .section-plan-design-build-method .section-content-col {
        padding: 60px 60px 120px;
    }
}
// 1440 end
@media(max-width:1023px) {
    .section-plan-design-build-method {
        .col {
            max-width: 100%;
            flex: 0 0 100%;
        }

        .section-image-content {
            min-height: 335px;
            padding-bottom: 40%;
        }

        .section-content-col {
            padding: 60px;
        }

        .content-wrap {
            p {
                font-size: 14px;
                line-height: 24px;
            }
        }
    }
}
// 1023 end
@media(max-width:767px) {
    .section-plan-design-build-method .section-content-col {
        padding: 30px 20px 60px;
    }
}
// 767 end