.section-client-slider {
    padding: 115px 184px 33px;
    min-height: calc(100vh - 114px);
    .container {
        max-width: 100%;
        padding: 0;
    }
    .images-icon {
        padding-right: 5px;
        opacity: 0;
        -webkit-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
    }
    .slick-active {
        .images-icon {
            opacity: 1;
        }
    }
    .slider-item {
        -webkit-transition: none !important;
        transition: none !important;
    }
    .circle-ui {
        background-color: $pearl-drop3;
        width: 513px;
        height: 513px;
        border-radius: 100%;
        position: absolute;
        top: 0;
        right: 134px;
        z-index: 0;
    }
    .client-image {
        border-radius: 100%;
        overflow: hidden;
        max-width: 437px;
        max-height: 437px;
        position: relative;
        margin: -190px 0 0 auto;
        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-color: rgba(35, 31, 32, 0.20);
            left: 0;
            top: 0;
            z-index: 0;
            position: absolute;
            transition: background-color 0.6s ease-in-out;
        }
        &:hover {
            &:after {
                background-color: rgba(35, 31, 32, 0.40);
            }
        }
        .btn-client-play {
            z-index: 1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .home-client-slider {
        position: static;
    }
    .col-left {
        position: relative;
        max-width: 56.3%;
        flex: 0 0 56.3%;
        padding-right: 0;
        .content {
            position: relative;
            z-index: 1;
            max-width: 525px;
            min-height: 331px;
            h2 {
                font-size: 55px;
                line-height: 1.2;
                font-family: "Inter";
                margin-bottom: 27px;
                letter-spacing: 0;
            }
            h3 {
                font-family: "Inter";
                font-size: 17px;
                line-height: 40px;
                font-weight: 400;
                display: flex;
                align-items: center;
                img {
                    margin: 0 11px;
                }
            }
        }
    }
    .col-right {
        padding-left: 9%;
        padding-top: 70px;
        max-width: 43.7%;
        flex: 0 0 43.7%;
        position: relative;
        .client-content-wrap {
            max-width: 425px;
        }
        .wave-icon {
            margin-bottom: 58px;
        }
        .content {
            h2 {
                font-size: 75px;
                line-height: 1.07;
                max-width: 472px;
                margin-bottom: 32px;
                //@include default_words_animation;
            }
        }
        .content-p {
            font-family: "Inter";
            font-size: 17px;
            line-height: 40px;
            font-weight: 400;
            // @include default_words_animation;
        }
    }
    .slick-dots {
        padding: 0;
        display: flex;
        list-style: none;
        position: absolute;
        bottom: 40px;
        left: calc(116%);
        z-index: 1;
        ul {
            display: flex;
        }
        li {
            margin: 0 6.5px;
            button {
                width: 7px;
                display: block;
                height: 7px;
                text-indent: -99em;
                border-radius: 100%;
                border: none;
                overflow: hidden;
                background-color: rgba($color: $light-pink, $alpha: 1);
                transition: background-color 0.3s ease-in-out;
                box-shadow: none;
            }
        }
        .active,
        .slick-active {
            button {
                background-color: $text-color;
            }
        }
    }
    .slick-prev {
        display: none !important;
    }
    .text-label-wrap1 {
        position: absolute;
        min-width: 300px;
        bottom: 0px;
        margin-left: 45px;
        color: $black;
        .button-label {
            color: $black;
        }
    }
    .custom-next-arrow {
        display: flex;
        align-items: center;
        left: calc(142px + 130px);
        position: absolute;
        bottom: 23px;
        font-size: 12px;
        line-height: 40px;
        font-weight: 400;
        font-family: "Inter";
        img {
            margin-right: 25px;
            margin-bottom: 10px;
        }
    }
}
// Responsive CSS start
@media (min-width:1921px) {
    .section-client-slider .slick-dots{
        left: calc(100% + 120px);
    }
}
@media (max-width:1800px) {
    .section-client-slider {
        padding: 100px 140px 33px;
        .circle-ui {
            width: 430px;
            height: 430px;
        }
        .client-image {
            max-width: 360px;
            max-height: 360px;
        }
    }
}
// 1800 end
@media (max-width:1600px) {
    .section-client-slider {
        padding: 90px 110px 30px;
        .circle-ui {
            width: 443px;
            height: 443px;
            top: 25px;
            right: 110px;
        }
        .client-image {
            max-width: 377px;
            max-height: 377px;
            margin: -100px 0 0 auto;
        }
        .col-left {
            .content {
                h2 {
                    font-size: 55px;
                }
            }
        }
        .col-right {
            .content {
                h2 {
                    font-size: 75px;
                }
            }
        }
    }
}
// 1600 end
@media (max-width:1440px) {
    .section-client-slider {
        padding: 70px 80px 30px;
        .circle-ui {
            right: 80px;
        }
        .col-left {
            .content {
                h2 {
                    font-size: 50px;
                }
            }
        }
        .col-right {
            .content {
                h2 {
                    font-size: 70px;
                }
            }
        }
    }
}
// 1440 end
@media (max-width:1300px) {
    .section-client-slider {
        padding: 70px 40px 30px;
        .circle-ui {
            right: 30px;
        }
        .col-left {
            .content {
                h2 {
                    font-size: 45px;
                    // min-height: 235px;
                }
            }
        }
        .col-right {
            .content {
                h2 {
                    font-size: 65px;
                }
            }
        }
        .text-label-wrap1 {
            min-width: 250px;
            margin-left: 35px;
        }
    }
}
// 1300 end
@media (max-width:1199px) {
    .section-client-slider {
        .col-right {
            padding-left: 30px;
        }
        .slick-dots {
            left: 104%;
        }
        .custom-next-arrow {
            left: 160px;
        }
    }
}
// 1199 end
@media (max-width:1100px) {
    .section-client-slider {
        .circle-ui {
            right: 10px;
            max-width: 390px;
            max-height: 390px;
        }
        .client-image {
            margin: -90px 0 0 auto;
            max-width: 320px;
            max-height: 320px;
        }
    }
}
// 1100 end
@media (max-width:1023px) {
    .section-client-slider {
        padding: 0 59px;
        .home-client-slider {
            padding-bottom: 0;
            .slider-item {
                padding-bottom: 141px;
            }
        }
        .images-icon {
            padding-right: 0;
        }
        .client-image {
            margin: -30px 50px 0 auto;
            .btn-client-play {
                img {
                    max-width: 154px;
                }
            }
        }
        .circle-ui {
            right: 140px;
            top: 0;
        }
        .row {
            margin: 0;
        }
        .slick-dots {
            left: 0;
            bottom: 60px;
            right: 0;
            justify-content: center;
        }
        .btn-next-success-story {
            display: none !important;
        }
        .col-left {
            max-width: 100%;
            flex: 0 0 100%;
            order: 1;
            .content {
                max-width: 396px;
                min-height: 240px;
                h2 {
                    font-size: 40px;
                    line-height: 48px;
                    margin-bottom: 8px;
                }
                h3 {
                    font-size: 17px;
                    line-height: 35px;
                }
            }
        }
        .col-right {
            order: 0;
            max-width: 100%;
            flex: 0 0 100%;
            padding: 43px 0 65px;
            margin-bottom: 50px;
            position: relative;
            .client-content-wrap {
                max-width: 446px;
            }
            .content {
                max-width: 374px;
                h2 {
                    font-size: 70px;
                    line-height: 80px;
                }
            }
            .content-p {
                font-size: 17px;
                line-height: 35px;
            }
            .wave-icon {
                position: absolute;
                bottom: 0;
                margin: 0;
            }
        }
    }
}
// 1023 end
@media (max-width:767px) {
    .section-client-slider {
        padding: 0 30px;
        position: relative;
        .home-client-slider {
            padding-bottom: 0;
            position: static;
            .slider-item {
                padding-bottom: 98px;
            }
        }
        .col-right {
            padding-bottom: 47px;
            margin-bottom: 32px;
            .content {
                padding-right: 60px;
                h2 {
                    font-size: 45px;
                    line-height: 60px;
                    margin-bottom: 18px;
                }
            }
            .content-p {
                font-size: 14px;
                line-height: 30px;
                padding-right: 100px;
            }
        }
        .col-left {
            // max-width: 340px;
            padding: 0;
            position: static;
            .content {
                max-width: 231px;
                min-height: 140px;
                h2 {
                    font-size: 20px;
                    line-height: 24px;
                    // min-height: 100px;
                }
                h3 {
                    font-size: 11px;
                    line-height: 35px;
                }
            }
        }
        .circle-ui {
            right: 13%;
            height: 259px;
            width: 259px;
        }
        .client-image {
            max-width: 220px;
            max-height: 220px;
            margin: -25px -0px 0 auto;
            .btn-client-play img {
                max-width: 90px;
            }
        }
        .slick-dots li {
            margin: 0 4px;
            button {
                height: 7px;
                width: 7px;
            }
        }
    }
}
// 767 end
@media (max-width:389px) {
    .section-client-slider {
        .circle-ui {
            right: 12%;
            height: 229px;
            width: 229px;
        }
        .client-image {
            max-width: 200px;
            max-height: 200px;
            margin: 5px 2px 0 auto;
        }
    }
}
// 389 end