.section-blog-expert-help {
    padding: 75px 0 60px;

    .container {
        max-width: 710px;
        border-top: 5px solid $pearl-drop2;
        border-bottom: 5px solid $pearl-drop2;
        padding: 30px 15px;
    }

    h2 {
        margin-bottom: 30px;
        font-size: 50px;
        line-height: 58px;
    }

    .btn-wrap {
        .btn-black {
            min-height: 67px;
            min-width: 183px;
            font-size: 19px;
            line-height: 23px;
        }
    }
}
// Responsive css start
@media (max-width:1023px) {
    .section-blog-expert-help {
        padding: 75px 0 60px;

        .container {
            padding: 30px 15px;
        }

        h2 {
            font-size: 45px;
            line-height: 60px;
        }
    }
}
// 1023 end
@media (max-width:991px) {
    .section-blog-expert-help {
        .container {
            padding: 30px 15px;
            max-width: calc(100% - 88px);
        }
    }
}
// 991 end
@media (max-width:767px) {
    .section-blog-expert-help {
        padding: 30px 0;

        .container {
            max-width: 350px;
        }

        h2 {
            font-size: 25px;
            line-height: 29px;
        }
    }
}
// 767 end