@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
.inline-block {
  display: inline-block;
}

.d-flex, .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col {
  padding: 0 15px;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
  max-width: 100%;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters > .col,
.no-gutters > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.justify-content-between {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.justify-content-center {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.align-items-between {
  -ms-flex-pack: justify;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.align-items-center {
  -ms-flex-pack: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-self-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.px-5 {
  padding: 0 5px;
}

.pr-0 {
  padding-right: 0;
}

.m-0 {
  margin: 0;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.textRight, .text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.list-unstyled {
  padding: 0;
  list-style: none;
  margin-bottom: 0;
}

.bg-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 300px;
}

@font-face {
  font-family: "Times";
  src: url("../fonts/times/Times-Bold.eot");
  src: url("../fonts/times/Times-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/times/Times-Bold.svg#Times-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Times";
  src: url("../fonts/times/Times-BoldItalic.eot");
  src: url("../fonts/times/Times-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/times/Times-BoldItalic.woff2") format("woff2"), url("../fonts/times/Times-BoldItalic.woff") format("woff"), url("../fonts/times/Times-BoldItalic.ttf") format("truetype"), url("../fonts/times/Times-BoldItalic.svg#Times-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Times";
  src: url("../fonts/times/Times-Italic.eot");
  src: url("../fonts/times/Times-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/times/Times-Italic.svg#Times-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Times";
  src: url("../fonts/times/Times-Roman.eot");
  src: url("../fonts/times/Times-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/times/Times-Roman.svg#Times-Roman") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.pearl-bg {
  background-color: #F9F4ED;
}

.pearl-bg2 {
  background-color: #Faf5ee;
}

.pearl-bg3 {
  background-color: #F3E3D8;
}

.dawn-pink-bg {
  background-color: #F2E2D7;
}

.light-pink-bg {
  background-color: #e1cdc0;
}

.light-pink-bg2 {
  background-color: #D7C3B6;
}

.white-bg {
  background-color: #ffffff;
}

.black-bg {
  background-color: #231F20;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter";
  color: #231F20;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: -0.12px;
  font-weight: 300;
  background-color: #ffffff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

button {
  cursor: pointer;
}

svg,
img {
  max-width: 100%;
}

img {
  height: auto;
  width: auto;
}

.btn-styled-removed {
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}

.middle-content {
  min-height: 400px;
  padding-top: 130px;
}

.link-text a,
.link-text button {
  line-height: 50px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  color: #231F20;
  position: relative;
  display: inline-block;
}
.link-text a:after,
.link-text button:after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #221f1f;
  border-radius: 44px;
  display: block;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform-origin: center;
          transform-origin: center;
  position: absolute;
  bottom: 13px;
  left: 0;
}
.link-text a:hover:after,
.link-text button:hover:after {
  -webkit-transform: scaleX(0.8);
  transform: scaleX(0.8);
}

textarea {
  resize: none;
}

iframe {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Times";
  font-weight: bold;
}

h2 {
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.2px;
}

.page-title h1 {
  font-size: 50px;
  line-height: 60px;
  letter-spacing: -0.15px;
}
.page-title h2 {
  font-size: 17px;
  line-height: 50px;
  font-family: "Inter";
  font-weight: 500;
  text-transform: uppercase;
}

.page-title2 h1 {
  font-size: 70px;
  line-height: 1.21;
  letter-spacing: 0px;
  margin-bottom: 30px;
}

.stretched-link {
  text-align: center;
  text-decoration: none;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.location-title {
  font-size: 17px;
  font-family: "Inter";
  letter-spacing: 0.12px;
  font-weight: 300;
  margin-bottom: 12px;
}

.section-full-image img {
  display: block;
}

.opacity-0 {
  opacity: 0 !important;
}

video,
iframe {
  max-width: 100%;
}

.btn-black-bg {
  min-height: 45px;
  min-width: 139px;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  background-color: #231F20;
  font-weight: 700;
  border: 1px solid #231F20;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Inter";
}
.btn-black-bg:hover {
  background-color: transparent;
  color: #231F20;
}

.error-message {
  color: #F67A7A;
  font-size: 13px;
  line-height: 40px;
  font-weight: 400;
  display: none;
}

#errorMsgDiv {
  color: #F67A7A;
  font-size: 13px;
  line-height: 40px;
  font-weight: 400;
}

.grecaptcha-badge {
  bottom: 100px !important;
  z-index: 99;
}

@media (max-width: 1600px) {
  body {
    font-size: 14px;
    line-height: 24px;
  }
  .location-title {
    font-size: 14px;
  }
  h2 {
    font-size: 47px;
    line-height: 52px;
  }
  .page-title h1 {
    font-size: 47px;
    line-height: 52px;
  }
  .page-title h2 {
    font-size: 14px;
    line-height: 45px;
  }
}
@media (max-width: 1440px) {
  h2 {
    font-size: 44px;
    line-height: 48px;
  }
  .page-title h1 {
    font-size: 44px;
    line-height: 48px;
  }
}
@media (max-width: 1300px) {
  h2 {
    font-size: 38px;
    line-height: 45px;
  }
  .page-title h1 {
    font-size: 38px;
    line-height: 45px;
  }
}
@media (max-width: 1199px) {
  h2 {
    font-size: 31px;
    line-height: 1.2;
  }
  .page-title h1 {
    font-size: 31px;
    line-height: 1.2;
  }
}
@media (max-width: 1023px) {
  .container {
    padding: 0 20px;
  }
  h2 {
    font-size: 25px;
  }
  .page-title h1 {
    font-size: 25px;
  }
  .middle-content {
    padding-top: 100px;
  }
}
@media (max-width: 767px) {
  .page-title2 h1 {
    font-size: 45px;
    line-height: 60px;
  }
}
.section-form {
  padding: 55px 115px;
}
.section-form .page-title {
  padding-bottom: 42px;
}
.section-form .page-title h1 {
  font-size: 75px;
  line-height: 85px;
  margin-bottom: 30px;
}
.section-form .page-title p {
  font-size: 20px;
  line-height: 35px;
  font-weight: 400;
}
.section-form .col-form {
  padding-right: 30px;
}
.section-form .col-image {
  max-width: 43.8%;
}
.section-form .bg-image {
  min-height: 414px;
}
.section-form .col-mobile-image {
  display: none;
}
.section-form form .row {
  margin: 0 -12px;
}
.section-form form .row .col {
  padding: 0 12px;
}
.section-form form .form-group {
  margin-bottom: 30px;
}
.section-form .input-wrap {
  position: relative;
}
.section-form .input-wrap:after {
  display: none;
}
.section-form .input-wrap .form-control {
  border-bottom: 1px solid #231F20;
  padding: 12px 0 20px;
  border-radius: 0;
}
.section-form .input-wrap .form-control::-webkit-input-placeholder {
  color: #BDB8B8;
  opacity: 1;
}
.section-form .input-wrap .form-control::-moz-placeholder {
  color: #BDB8B8;
  opacity: 1;
}
.section-form .input-wrap .form-control::-o-placeholder {
  color: #BDB8B8;
  opacity: 1;
}
.section-form .input-wrap .form-control::-ms-input-placeholder {
  color: #BDB8B8;
  opacity: 1;
}
.section-form .input-wrap textarea {
  min-height: 179px;
}
.section-form .input-wrap.error-show .form-control::-webkit-input-placeholder {
  color: #BDB8B8;
}
.section-form .input-wrap.error-show .form-control::placeholder,
.section-form .input-wrap.error-show .form-control::-webkit-input-placeholder,
.section-form .input-wrap.error-show .form-control::-ms-input-placeholder,
.section-form .input-wrap.error-show .form-control:-ms-input-placeholder,
.section-form .input-wrap.error-show .form-control::-moz-placeholder,
.section-form .input-wrap.error-show .form-control:-moz-placeholder {
  color: #BDB8B8;
}
.section-form .input-wrap.error-show .error-message {
  display: block;
  position: absolute;
  bottom: -35px;
  width: 100%;
  left: 0;
  font-size: 10px;
  z-index: 1;
}
.section-form .input-wrap.error-show .form-control {
  color: #231F20;
  border-color: red;
}
.section-form .btn-submit {
  background-color: #231F20;
  border: none;
  color: #ffffff;
  text-transform: initial;
  font-family: "Inter";
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
  letter-spacing: 0;
  text-decoration: none;
  width: 100%;
  min-height: 67px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.section-form .btn-submit:after {
  content: "Submit";
  width: 100%;
  -webkit-transform: none !important;
          transform: none !important;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  bottom: 0;
  border-radius: 0;
  height: 100%;
}
.section-form .btn-submit.loading-data #loader-spinner {
  left: calc(50% - 115px);
}
.section-form .btn-submit.loading-data:after {
  content: "Please Wait...";
}
.section-form .btn-submit #loader-spinner {
  display: none;
  position: absolute;
  left: calc(50% - 70px);
  z-index: 1;
  line-height: 0;
}
.section-form .btn-submit #loader-spinner svg {
  display: none;
  max-width: 32px;
  margin-right: 20px;
}
.section-form .btn-submit #loader-spinner-label {
  display: none;
}
.section-form .bg-image {
  position: relative;
}
.section-form .image-label {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #231F20;
  padding: 0 40px;
  width: auto;
}
.section-form .image-label h6 {
  color: #ffffff;
  margin: 0;
  font-weight: 300;
  font-size: 17px;
  line-height: 40px;
  font-family: "Inter";
}
@media (max-width: 1023px) {
  .section-form .image-label h6 {
    font-size: 14px;
    line-height: 24px;
  }
}
@media (max-width: 1023px) {
  .section-form .image-label {
    width: 100%;
    text-align: center;
  }
}
.section-form .thank-you-content-wrap {
  padding-top: 100px;
}
.section-form .thank-you-content-wrap .thank-you-content {
  max-width: 486px;
  margin: 0 auto;
}
.section-form .thank-you-content-wrap .thank-you-content .icon-wrap {
  margin-bottom: 30px;
}
.section-form .thank-you-content-wrap .thank-you-content p {
  font-weight: 300;
}
.section-form .thank-you-content-wrap .thank-you-content .links a {
  background-color: black;
  color: #ffffff;
  text-transform: initial;
  font-family: "Inter";
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
  letter-spacing: 0;
  text-decoration: none;
  width: 100%;
  min-height: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 465px;
  margin: 0 auto;
}

.contact-info-wrap {
  text-align: center;
  line-height: 35px;
  margin-top: 60px;
}
.contact-info-wrap h6 {
  font-size: 20px;
  line-height: 35px;
}
.contact-info-wrap a {
  font-weight: 700;
  color: #231F20;
  text-decoration: underline;
}
.contact-info-wrap address {
  font-style: normal;
  max-width: 267px;
  margin: 0 auto;
}
.contact-info-wrap .address-wrap {
  padding: 28px 0 30px;
  margin: 0;
}
.contact-info-wrap .address-group + .address-group {
  border-left: 1px solid rgba(35, 31, 32, 0.5);
}
.contact-info-wrap .email-wrap a {
  font-weight: 300;
}
.contact-info-wrap .social-wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 34px -32px 0;
}
.contact-info-wrap .social-wrap ul li {
  padding: 0 32px;
}

#autocomplete-results {
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  width: 100%;
  z-index: 9;
  max-height: 205px;
  overflow: hidden;
  overflow-y: auto;
  font-size: 17px;
  line-height: 35px;
  font-weight: 400;
  border: 1px solid #231F20;
  background-color: #ffffff;
}
#autocomplete-results li {
  padding: 3px 6px;
  min-height: 41px;
  cursor: pointer;
}
#autocomplete-results li:hover {
  background-color: #231F20;
  color: #ffffff;
}
#autocomplete-results .red-text {
  color: #FF0000;
  font-size: 17px;
  line-height: 35px;
  font-weight: 400;
}
#autocomplete-results .red-text:hover {
  background-color: transparent;
  color: #FF0000;
}

.form-wrap {
  max-width: 730px;
  padding: 0px 0px 70px;
  position: relative;
}

@media (max-width: 1600px) {
  .section-form {
    padding: 50px 60px;
  }
}
@media (max-width: 1440px) {
  .form-wrap {
    padding: 0px 0 40px;
  }
}
@media (max-width: 1199px) {
  .section-form {
    padding: 50px 60px;
  }
}
@media (max-width: 1023px) {
  .form-wrap {
    padding: 20px 19px 0;
    margin: 0 auto;
    max-width: 100%;
  }
  .form-wrap .page-title {
    text-align: center;
  }
  .section-form {
    padding: 0;
  }
  .section-form .col-image,
  .section-form .col-form {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 0;
  }
  .section-form .bg-image {
    padding-bottom: 48%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    min-height: 373px;
  }
  .section-form .col-desktop-image {
    display: none;
  }
  .section-form .col-mobile-image {
    display: block;
  }
  .section-form .col-mobile-image .image-label {
    width: auto;
  }
  .section-form .input-wrap textarea {
    min-height: 149px;
  }
  .section-form .input-wrap .form-control {
    padding: 12px 0 16px;
  }
  .section-form form .form-group {
    margin-bottom: 24px;
  }
  .section-form .btn-submit {
    min-height: 45px;
    font-size: 13px;
    line-height: 16px;
  }
  .section-form .contact-info-wrap {
    margin-top: 6px;
  }
  .section-form .contact-info-wrap h6 {
    font-size: 14px;
  }
  .section-form .social-wrap ul {
    margin: 17px 0 30px;
    line-height: 0;
  }
  .section-form .social-wrap ul li {
    padding: 0 15px;
  }
  .section-form .social-wrap ul img {
    max-width: 24px;
  }
  .section-form .thank-you-content-wrap {
    padding-top: 50px;
  }
  .section-form .thank-you-content-wrap .thank-you-content .links a {
    font-size: 13px;
    line-height: 16px;
    min-height: 45px;
    max-width: 235px;
    margin-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .form-wrap {
    max-width: 100%;
  }
  .page-title h1 {
    font-size: 45px;
    line-height: 60px;
  }
  .form-wrap .col {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .form-wrap .form-name-row .col {
    max-width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .form-wrap .col-input + .col-select,
  .form-wrap .col-input + .col-input {
    margin: 0;
  }
  .section-form .bg-image {
    min-height: 299px;
  }
  .section-form .bg-image .image-label {
    width: 100%;
  }
  .section-form form .form-group {
    margin-bottom: 0;
  }
  .section-form .input-wrap {
    margin-bottom: 12px;
  }
  .section-form .input-wrap .form-control {
    min-height: 48px;
  }
  .section-form .input-wrap textarea {
    min-height: 164px;
  }
  .section-form .thank-you-content-wrap {
    padding-top: 30px;
  }
  .section-form .thank-you-content-wrap .thank-you-content {
    padding: 0 20px;
  }
  .section-form .thank-you-content-wrap .thank-you-content .links a {
    max-width: 100%;
    margin-top: 15px;
  }
  .section-form .thank-you-content-wrap .thank-you-content .icon-wrap {
    margin-bottom: 0;
  }
  .section-form .thank-you-content-wrap .thank-you-content .icon-wrap img {
    max-width: 45px;
  }
}
@media (max-width: 540px) {
  .contact-info-wrap .address-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-info-wrap .address-wrap .address-group + .address-group {
    border: none;
    margin-top: 30px;
  }
}